<!DOCTYPE html>
<html>
<head>
    <title>
        Admin Panel
    </title>

</head>
<body>
    <!-- check with client to verify all admin powers / priveledges, regarding deleting and editing other non admin users -->
    <nav>
      <a href="/api/items">Catalog</a> |
      <a href="/api/packages">Packages/Bids</a> |
      <%if (admin){%>
        <a href='/api/users'>All Users</a> |
        <a href="/api/items/new"> Add Item</a> |
        <a href="/api/packages/new"> Add Package</a> |
      <%}%>
      <%if (userName){%>
        <a href='/api/users/logout'>Logout</a> |
      <%}else{%>
      <a href='/api/users_login'>Login</a> |
      <a href="/users/register">Register </a> |
      <%}%>

    </nav>
    <%if(userName){%>
    <a href="/api/users/<%=userName%>">Hello, <%=userName%></a>
    <%}else{%>
      <p>Welcome!</p>
      <%}%>
<table>
    <thead>
        <th>Users</th>
        <th>Admin Status</th>
        <th>Change Status</th>
    </thead>
    <form class="" action="/users/admin_change" id="ourForm" method="post">
<% for (var u in users) {%>
    <tr>
        <td><a href="/api/users/<%= users[u].userName %>"><%= users[u].userName %></a></td>
        <td><%= users[u].admin  %></td>

        <% if(users[u].admin ){ %>
          <%if(users[u].userName === 'admin' | users[u].userName === userName){%>
            <td>
              <p>True</p>
            </td>
            <%}else{%>
            <td>
                <select name='<%=users[u]._id %>'>
                    <option value='true'>True</option>
                    <option value='false'>False</option>
                </select>
            </td>
            <%}%>
        <%}else { %>
            <td>
                    <select name='<%=users[u]._id %>'>
                    <option value='false'>False</option>
                    <option value='true'>True</option>
                </select>
            </td>
        <%}%>
    </tr>
<%}%>
</table>
<input type='submit' value='Save'>
</form>

</body>
</html>
