<!DOCTYPE html>
<html>
<head>
    <title>
        Supporters Register
    </title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

	   <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">  
  <link rel="stylesheet" type="text/css" href="/css/item.css" >
  
  <!-- Java Script -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<!-- Data Tables  -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>
<body>
  
  
 
  <%- include('adminHeader') -%>


  <!-- check with client to verify all admin/clerk priveledges, regarding deleting and editing other non admin users -->
	<div class="container-fluid">
    <h2 class="my-4">Supporters Register</h2>
		<!-- <div class="d-flex justify-content-end mt-4">
			<a href="/<%=auction%>/users/new">
				<button class="btn btn-add">Add a Supporter</button>
			</a>

			<a href="/<%=auction%>/users/csv">
				<button type="button" class="btn btn-add ml-2">Import Supporters from CSV</button>
			</a>
		</div> -->
      <div class="my-4" id="search-container">
		<div class="row">
			<div class="col">
				<!-- Find supporters by keyword -->
				<div id="search-keyword">
					<label for "keyword" class="label-search">Search by keyword:</label>
					<input class="form-control" type="search" id="keyword" placeholder="Keyword">
				</div>
			</div>
			<div class="col d-flex justify-content-end mt-4 pt-1">
				<a href="/<%=auction%>/users/new">
					<button class="btn btn-add">Add a Supporter</button>
				</a>
	
				<a href="/<%=auction%>/users/csv">
					<button type="button" class="btn btn-add ml-2">Import Supporters from CSV</button>
				</a>
			</div>
		</div>
	</div>

  <table class="table table-striped table-bordered mt-4" id="sup-table">
    <thead>
      <tr>
        <th scope="col">Email (username)</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Org Name</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip</th>
        <th scope="col">Phone</th>
        <th scope="col">Table</th>
        <th scope="col">Owner?</th>
        <th scope="col">Owner Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% for (var u in users) {%>
        <tr class="supRow">
          <td><a href="/<%=auction%>/users/account/<%= users[u].userName %>"><%= users[u].userName %></a></td>
          <td><%= users[u].firstName %></td>
          <td><%= users[u].lastName %></td>
          <td><%= users[u].userOrg %></td>
          <td><%= users[u].streetAddress %></td>
          <td><%= users[u].city %></td>
          <td><%= users[u].states %></td>
          <td><%= users[u].zip %></td>
          <td><%= users[u].phone %></td>
          <td><%= users[u].table %></td>
          <td><%= users[u].tableOwner %></td>
          <td><%= users[u].tableOwnerName %></td>
           <% if(admin){ %>
				<td>
					<a class="mb-1 mr-1" href='/<%=auction%>/usersAccount/<%=users[u].userName%>'><i class="fas fa-edit to-edit"></i></a>
					<a class="mb-1" href='/<%=auction%>/users/delete/<%=users[u]._id%>'><i class="far fa-trash-alt to-delete"></i></a>
				</td>
				<%}%>
		</tr>
      <%}%>

        </tbody>
      </table>
	</div> <!-- End main page container-->
	<script type="text/javascript">
		$(document).ready(function() {
		
			// Initializes Data Tables plugin
			$('#sup-table').DataTable({
					"dom": '<lip<t>ip>',
					"searching": false,
					"order": [[ 0, "asc" ]],
					"pageLength": 5,
					"lengthMenu": [ [2, 5, 10, 25, 50, -1], [2, 5, 10, 25, 50, "All"] ],
					"pagingType": "full_numbers",
					"columnDefs": [
						{ "orderable": false, "targets": 12 },
					]
				
			});

			$("#keyword").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				if (value == '') {
				$(".supRow").show();
				} else {
				$(".supRow").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > 0);
				});
				}
			});

		});        
  </script>
    <script>
      var cart = <%-JSON.stringify(cart)%>;
      var packages = <%-JSON.stringify(packages)%>;

    	var socket = io.connect('http://localhost:8000/');
      socket.on("serverTalksBack", function(data){
          for (var i = 0; i < packages.length; i++) {
            if (data.packId == packages[i]._id) {
              //subtract the previous winning bid from the total spent of the previous winner
              cart[packages[i].bids[packages[i].bids.length-1].name].total -=packages[i].bids[packages[i].bids.length-1].bidAmount;
              //find the index at which the package in question was in the cart.packages array of the previous winner
              var lost = cart[packages[i].bids[packages[i].bids.length-1].name].packages.indexOf(packages[i]);
              //get rid of that package from thier array
              cart[packages[i].bids[packages[i].bids.length-1].name].packages.splice(lost, 1)
              //decrament the amount of packages the previous winner was winning
              $('#'+packages[i].bids[packages[i].bids.length-1].name+'winning').text(parseInt($('#'+packages[i].bids[packages[i].bids.length-1].name+'winning').text())-1)
              //change the diplay of the previous winner to new decramented total amount
              $('#'+packages[i].bids[packages[i].bids.length-1].name+'total').text("$" + cart[packages[i].bids[packages[i].bids.length-1].name].total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
              //put new bid into packages[i] so the next check will be correct
              packages[i].bids.push({bidAmount: data.bid, name: data.userName})
              //put new package into cart so next check will be correct
              cart[data.userName].packages.push(packages[i])
            }
          }
        // }
        //add new bid into cart total for new winner
        cart[data.userName].total+=data.bid
        //change display for new winner
        $('#'+data.userName+'total').text("$" + cart[data.userName].total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $('#'+data.userName+'winning').text(parseInt($('#'+data.userName+'winning').text())+1)
      })
    </script>
  </body>
</html>
