<div class="card-body">
    <h5>Here is their information:</h5> 
	<h6 class="pin mb-3">*Please fill in any missing fields.</h6>
    <form id="registrationForm" action="/<%=user._id%>/clerkUserUpdate" method="post">
        <input type="hidden" id="firstLast" value="<%=user.firstName%> <%=user.lastName%>">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
				<input type="text" name="firstName" class="form-control" id="firstName" value="<%=user.firstName%>">
				<span id="hide1">Please note that this field cannot be edited after the user has made a bid.</span>
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
				<input type="text" name="lastName" class="form-control" id="lastName" value="<%=user.lastName%>">
				<span id="hide2">Please note that this field cannot be edited after the user has made a bid.</span>
			</div>
        </div>

        <div class="form-group">
            <label for="userName">Email/Username</label>
            <input type="email" name="userName" class="form-control" value="<%=user.userName%>">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Cell Phone Number</label>
            <input type="tel" name="phone" id="phoneNumber" class="form-control" value="<%=user.phone%>">
        </div>

        <div class="form-group">
            <label for="streetAddress">Address</label>
            <input type="text" name="address" class="form-control" value="<%=user.streetAddress%>" placeholder="Street Address">
		</div>
		<!-- <input type="hidden" id="auction" name="userId" value="<%=user._id%>"> -->
        

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" value="<%=user.city%>" placeholder="City">
            </div>
            <div class="form-group col-md-3">
                <label for="states">State</label>
                <input type="text" name="states" class="form-control" value="<%=user.states%>" placeholder="State">
            </div>
            <div class="form-group col-md-3">
                <label for="zip">Zipcode</label>
                <input type="text" name="zip" class="form-control" value="<%=user.zip%>" placeholder="Zipcode">
            </div>
            
        </div>

        <div class="form-group1">
        <input type="submit" name="submit" value="Update" class="btn btn-submit mt-1" id="submitButton">
        </div>
        <div class="demo-placeholder">
            <button type="button" id="smsButton" class="btn btn-add mt-3">
                    Send Auction link
                    </button>
                
        </div>
    </form>
</div>

<script>
	let bidders = document.getElementById("supporter-search").dataset.bidders;
	bidders = bidders.split(",");
	
	function disableNames(names) {
		let userName = document.getElementById("firstLast").value;
		let first = document.getElementById("firstName");
		let last = document.getElementById("lastName");

		for (var i = 0; i < names.length; i++) {
			if (userName === names[i]) {
				first.readOnly = true;
				last.readOnly = true;

				$('#firstName').click(function() {
					$('#hide1').css('display', 'block');
				});

				$('#lastName').click(function() {
					$('#hide2').css('display', 'block');
				});
			}
		}
	}

	disableNames(bidders);
	
    $("#phoneNumber").inputmask("999-999-9999");
    var validator = $("#registrationForm").validate({
        rules: {
            firstName: {
                required: true,
                rangelength: [2, 50]
            },
            lastName: {
                required: true,
                rangelength: [2, 50]
			},
            phoneNumber: {
                required: true,
                phoneUS: true,
            },
            userName: {
                required: true,
			},
			address: {
				required: true,
				street: true,
				rangelength: [2, 50]
			},
			city: {
				required: true,
				rangelength: [2, 50]
			},
			states: {
				required: true,
				state: true
			},
			zip: {
				required: true,
				zipcodeUS: true
			}
        }
    });

    $.validator.methods.email = function( value, element ) {
        return this.optional( element ) || /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test( value );
    }
    jQuery.validator.addMethod("street", function(value, element) {
        return this.optional(element) || /^\s*\S+(?:\s+\S+){2}/.test(value);
    }, "Please specify a valid street address");

    jQuery.validator.addMethod("state", function(value, element) {
        return this.optional(element) || /^(A[AEKLPRZ]|C[AOT]|D[CE]|FL|GA|HI|I[ADLN]|K[SY]|LA|M[ADEINOST]|N[CDEHJMVY]|O[HKR]|PA|RI|S[CD]|T[NX]|UT|V[AT]|W[AIVY]|a[aeklprz]|c[aot]|d[ce]|fl|ga|hi|i[adln]|k[sy]|la|m[adeinost]|n[cdehjmvy]|o[hkr]|pa|ri|s[cd]|t[nx]|ut|v[at]|w[aivy])$/.test(value);
    }, "Please specify the two-digit code for a US state");

    jQuery.validator.addMethod("user", function(value, element) {
        return this.optional( element ) || /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test( value );
    });

    validator.form();
    
    
    $('#submitButton').click(function(e){
        e.preventDefault();
        var userN = '<%=user.firstName%>'
        $.ajax({
            url:'/<%=user._id%>/clerkUserUpdate',
            type:'post',
            data:$('form#registrationForm').serialize(),
            success:function(){
                // alert("You have successfully updated "+userN+"'s info.");
                location.reload();
            }
        })
    })
    
    
    

    $('#smsButton').click(function(event){
        event.preventDefault();
    	console.log("400 clerksDash.ejs smsButton fx.")
    	// alert("400 clerksDash.ejs smsButton fx.")
    	var phone = $('#phoneNumber').val();
    	console.log('401 clerkDash.ejs send SMS.  phone start = ',phone);
        
    	// removes dashes from phone number
    	var phoneStub = '';
    	for (var i = 0; i < phone.length; i++){
    		var code = phone.charCodeAt(i);
    		if (code >= 48 && code <= 57) {
    			phoneStub += String.fromCharCode(code);
    		} 
    		// else console.log("406  clerkDash.ejs send SMS.Code not in lower-case range 48-57.  Code = ",code)
    	}
    	console.log("407  clerkDash.ejs send SMS. phoneStub final = ",phoneStub)
    	var auction = '<%=auctionID%>';
    	console.log('409 clerkDash.ejs send SMS.  auction = ',auction);
    	var userId = "<%=user._id%>";
    	console.log('410 clerkDash.ejs send SMS.  userId = ',userId);
    	$.ajax({
    		type: "POST",
    		url: '/users/sendSMS',
    		data: {"phone": phoneStub, "auction": auction, "userId": userId },
    		success: function(data){
    			// console.log('410 clerkDash.ejs send SMS success.');
    			window.location.replace('/' + auction + '/clerkDash')
    		}
    	})
    });

</script>