<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Item</title>
    <link rel="stylesheet" href="/css/createItem.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
            
    <script>
      $(document).ready(function() {
        validator.resetForm();
      });
    </script>

  </head>

  <body>
    <%if(admin){%>
    <%- include('adminHeader') -%>
    <%}else{%>
      <%- include('header') -%>
    <%}%>
    <div class="container mt-4">
      <h2>Add a New Item</h2>
      <div class="row">
        <div class="col err-info">
          The fields marked with (*) are required.
        </div>
      </div>
      <form action="/<%=auction%>/items" id="itemsForm" method="post">
        <!-- Item input group -->
        <div class="form-group">
          <label for="itemName" class="label-name space">Item Name*</label>
          <input id="itemName" type="text" name="itemName" class="form-control" >
        </div>
        <!-- End Item Input -->

        <!-- Donor Input Row -->
        <div id="donor" class="container">
            <h5>Donor Information</h5> 
            <p class="err-info"> Either donor's Last Name or Organization is required.</p>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="donorFirst" class="label-name">First Name</label>
                <input type="text" name="donorFirst" class="form-control" id="donorFirst">
              </div>
              <div class="form-group col-md-6">
                <label for="donorLast" class="label-name">Last Name</label>
                <input type="text" name="donorLast" class="form-control" id="donorLast">
              </div>         
            </div>
          <div class="form-row">
            <div class="form-group col-md-6">
                <label for="donorOrg" class="label-name">Organization</label>
                <input type="text" name="donorOrg" class="form-control" id="donorOrg">
            </div> 
            <div class="form-group col-md-6">
                <label for="donorDisplay" class="label-name">Display Donor (Defaults to Anonymous)</label>
                <input placeholder="Anonymous" type="text" name="donorDisplay" class="form-control" id="donorDisplay">
            </div>
          </div>  

        </div>
        <!-- End Donor Input -->

        <!-- Categories and Fair Market Value Fields -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="category" class="label-name">Category</label>
            <select id="category" class="custom-select" name="category">
              <% for (var c in categories){%>
                <option selected value="<%=categories[c].name%>"><%=categories[c].name%></option>
              <%}%>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="fairMarketValue" class="label-name">Fair Market Value*</label>
            <input id="fairMarketValue" type="text" name="fairMarketValue" class="form-control" >
          </div>
        </div>
        <!-- End Categories and Fair Market Value Fields -->

        <div class="form-group">
          <label for="itemDescription" class="label-name">Item Description*</label>
          <textarea id="itemDescription" name="itemDescription" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="itemRestriction" class="label-name">Item Restriction</label>
          <textarea name="itemRestriction" class="form-control" rows="3"></textarea>
        </div>

        <input type="submit" name="" value="Submit" class="btn btn-primary btn-submit">
      </form>
    </div>

    <script>
    var validator = $("#itemsForm").validate({
      rules: {
        itemName: {
          required: true,
          minlength: 3
        },
        category: {
          required: true
        },
        fairMarketValue:{
          required: true,
          number: true
        },
        itemDescription: {
          required: true,
          minlength: 4
        },
        donorLast: {
          minlength: 2, 
          required: false 
        },  
        donorOrg: {
          minlength: 3, 
          required: function() { return $('#donorLast').val().length == 0; }
        }
      },
      messages: {
        donorOrg: {
          required: "If Last Name is empty, Organization is required!"
        }
      }
    });
    validator.form();
    if (window.location.search.substring(1) === 'true') {
      url = window.location.href;
      window.location.replace(url.replace('?true', ''));
      alert('Form submitted succesfully.');
    }
    </script>
  </body>
</html>
