<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>create Item</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
  </head>
  <body>
    <%if(admin){%>
    <%- include('adminHeader') -%>
    <%}else{%>
      <%- include('header') -%>
    <%}%>
    <div class="container mt-4">
      <h3>Create Items</h3>
      <form action="/<%=auction%>/items" id="itemsForm" method="post">
        <!-- Item input group -->
        <div class="form-group">
          <label for="itemName">Item Name*</label>
          <input id="itemName" type="text" name="itemName" class="form-control" >
        </div>
        <!-- End Item Input -->

        <!-- Donor Input Row -->
        <label>Donor Information</label>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="donorFirst">First Name</label>
            <input type="text" name="donorFirst" class="form-control" id="donorFirst">
          </div>
          <div class="form-group col-md-4">
            <label for="donorLast">Last Name</label>
            <input type="text" name="donorLast" class="form-control" id="donorLast">
          </div>
          <div class="form-group col-md-4">
            <label for="donorOrg">Organization</label>
            <input type="text" name="donorOrg" class="form-control" id="donorOrg">
          </div> 
        </div>
        <div class="form-group">
            <label for="donorDisplay">Display Donor (Defaults to Anonymous)</label>
            <input placeholder="Anonymous" type="text" name="donorDisplay" class="form-control" id="donorDisplay">
        </div>
        <!-- End Donor Input -->

        <!-- Categories and Fair Market Value Fields -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="category">Category</label>
            <select id="category" class="custom-select" name="category">
              <% for (var c in categories){%>
                <option selected value="<%=categories[c].name%>"><%=categories[c].name%></option>
              <%}%>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="fairMarketValue">Fair Market Value*</label>
            <input id="fairMarketValue" type="text" name="fairMarketValue" class="form-control" >
          </div>
        </div>
        <!-- End Categories and Fair Market Value Fields -->

        <div class="form-group">
          <label for="itemDescription">Item Description*</label>
          <textarea id="itemDescription" name="itemDescription" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="itemRestriction">Item Restriction</label>
          <textarea name="itemRestriction" class="form-control" rows="3"></textarea>
        </div>

        <input type="submit" name="" value="Submit" class="btn btn-primary">
      </form>
      <div class="row">
        <div class="col">
          Fields marked with (*) are required.
        </div>
      </div>
    </div>
    <script>

    var validator = $("#itemsForm").validate({
      rules: {
        itemName: {
          required: true,
          minlength: 4
        },
        category: {
          required: true
        },
        fairMarketValue:{
          required: true,
          number: true
        },
        itemDescription: {
          required: true,
          minlength: 4
        }
      }
    });
    validator.form();
    if (window.location.search.substring(1) === 'true') {
      alert('that was a success')
    }
    </script>
  </body>
</html>
