<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Edit an Auction</title>
		
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="/css/style.css" >
      <link rel="stylesheet" href="/css/editAuction.css">
      
      
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
  </head>

  <%- include('adminHeader') -%>
  <body>
    <div class="container mt-4">
      <div class="form-header">
        <h2 class="mb-1">Edit Auction</h2>
        <button type="button" class="btn btn-delete" data-toggle="modal" data-target="#myModal">Delete Auction</button>
      </div>
      <form action="/<%=auction%>/update" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <label for="name" class="label-name">Auction Name</label>
          <input type="text" name="name" id="name" class="form-control" value="<%=auctionDetails.name%>">
        </div>
        <div class="form-row">
					<div class="form-group col-md-4">
						<label for="name" class="label-name">Organization Name</label>
						<input type="text" name="organization" id="organization" class="form-control" value="<%=auctionDetails.organization%>">
					</div>
					<div class="form-group col-md-4">
						<label for="venue" class="label-name">Tax ID</label>
						<input type="text" name="taxID" id="taxID" class="form-control" value="<%=auctionDetails.taxID%>"></input>
					</div> 
					<div class="form-group col-md-4">
						<label for="venue" class="label-name">Business Address</label>
						<input type="text" name="businessAddress" id="businessAddress" class="form-control" value="<%=auctionDetails.businessAddress%>"></input>
					</div> 
				</div>
        <div class="form-group">
          <label for="pin" class="label-name">Auction Pin</label>
          <input type="number" name="pin" id="pin" class="form-control" value="<%=pin%>" readonly>
        </div>
        <div class="form-row">
					<div class="form-group col-md-3">
						<label for="startClockDate" class="label-name">Start Date</label>
						<input type="date" name="startClockDate" id="startClockDate" class="form-control" value="<%=startDate%>">
					</div>
					<div class="form-group col-md-3">
						<label for="startClockTime" class="label-name">Start Time</label>
						<input type="time" name="startClockTime" id="startClockTime" class="form-control" value="<%=startClock%>">
					</div>
					<div class="form-group col-md-3">
						<label for="endClockDate" class="label-name">End Date</label>
						<input type="date" name="endClockDate" id="endClockDate" class="form-control" value="<%=endDate%>">
					</div>
					<div class="form-group col-md-3">
						<label for="endClockTime" class="label-name">End Time</label>
						<input type="time" name="endClockTime" id="endClockTime" class="form-control" value="<%=endClock%>">
					</div>
        </div> 
        <div class="form-group">
					<label for="venue" class="label-name">Venue</label>
					<textarea name="venue" id="venue" class="form-control" rows="1"><%= auctionDetails.venue %></textarea>
				</div> 
				<div class="form-group">
					<label for="subtitle" class="label-name">Subtitle/Tagline</label>
					<textarea name="subtitle" id="subtitle" class="form-control" rows="1"><%= auctionDetails.subtitle %></textarea>
				</div>
				<div class="form-group">
					<label for="welcomeMessage" class="label-name">Welcome Message</label>
					<textarea name="welcomeMessage" id="welcomeMessage" class="form-control" rows="3"><%= auctionDetails.welcomeMessage %></textarea>
				</div>
				<div class="form-group">
					<label for="description" class="label-name">Description</label>
					<textarea name="description" id="description" value="<%= auctionDetails.headerImage %>" class="form-control" rows="5"><%= auctionDetails.description %></textarea>
        </div>
        
        <!-- Picture Upload -->
        <div class="form-row">
            <div class="form-group col-md-12">
              <label class="label-name">Event Page Image (recommended size: 2000 x 1200 pixels)</label>
              <fieldset class="item-list">
                <div class="form-group ml-3">
                  <label class="label-name">
                    Current Image:  <%= auctionDetails.headerImage%>
                  </label>
                </div>
                <div class="col-1 form-group">
                  <img class="thumbnail" src="/<%= auctionDetails.headerImage%>" />
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 col-md-6 col-lg-12">
              <div class="form-group">
                <label for="file" class="sr-only">File</label>
                <div class="input-group">
                  <span class="input-group-prepend">
                    <div class="btn btn-upload custom-file-uploader">
                      <input type="file" name="auctionImage" onchange="this.form.filename.value = this.files.length ? this.files[0].name : ''" />
                      Upload New Image
                    </div>
                  </span>
                  <input type="text" name="filename" class="form-control" placeholder="No file selected" readonly>
                </div>
              </div>
            </div>
          </div>

				<!-- <div class="form-group col-md-12">

					<label class="label-name">Event Page Image</label>
					<fieldset class="item-list">
						<div class="col-1 form-group">
							<img class="thumbnail ml-3" src="/<%= auctionDetails.headerImage%>" alt="">
						</div>
						<div class="form-group">
							<label class="label-name">Current filename: <%= auctionDetails.headerImage%></label>
						</div>
						<div class="col-11 form-group">
							<input type="file" name="auctionImage" id="auctionImage" class="form-control">
						</div>
					</fieldset>
				</div> -->


				<!-- <div class="form-group">
					<label for="auctionImage" class="label-name text-black-50">Event Page Image</label>
					<input type="file" name="auctionImage" id="auctionImage" class="form-control", value="headerImage">
				</div> -->

				


        <div id="myModal" class="modal fade">
          <div class="modal-dialog modal-confirm">
            <div class="modal-content">
              <div class="modal-header">
                <div class="icon-box">
                  <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p>Do you really want to delete <%=auctionDetails.name%>? This process cannot be undone.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <a role="button" class="btn btn-danger" href="/<%=auction%>/remove">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" name="submit" value="Submit" class="btn btn-submit mt-1 mb-5">
        </div>
      </form>
    </div>
  </body>
</html>
