<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>elizabid</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="/css/style.css" >
		<link rel="stylesheet" type="text/css" href="/css/event.css" >
		<!--<link rel="icon" href="../../../../favicon.ico">-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

  	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light flex-column flex-md-row ">
			<div class="elizabid-brand py-2">elizabid |
					<a href="https://vmcfoundation.org/"><img class="vmcf-brand" src="/VMCF_Logo_Blue_rgb.png"></a> 
			</div>
			<!--<a href="https://vmcfoundation.org/"><img class="vmcf-brand" src="/VMCF_Logo_Blue_rgb.png"></a> 
			<div class="elizabid-brand col-8 text-center">elizabid</div>-->
		
					<!-- Right Top Navbar -->
					  <ul class="nav navbar-nav flex-row ml-md-auto d-md-flex ">
					  		<li class="nav-marg">
								<a class="nav-link top-link" href="/<%=auction%>/packages">Catalog</a>
							</li>
							<li class="nav-marg">
								<a class="nav-link top-link" href="/users/register">Register</a>
							</li>
							<li class="nav-marg">
								<a class="nav-link top-link" href="/users/login">Login</a>
							</li>
							

					</ul>
		</nav>
		

		<div class="jumbotron jumbotron-fluid header-img">
			<div class="container display-header">
				<h1 class="display-4 my-5"><%= auctionDetails.name %></h1>
				<p class="time-loc"><%= startDate %>; <%= startClock %> pm Pacific Time</p>	
				<p class="time-loc"><%= auctionDetails.venue %></p>
				
			</div>
		</div>

		<div class="containner">
			<div class="row">
				<div class="col"></div>  <!-- this column is for equal space on the margins -->
				<div class="col-sm-12 col-md-8">
					<div class="card-body">
						<h2><%= auctionDetails.subtitle %></h2>
						<hr class="my-4">
						<p class="welcome-message"><%= auctionDetails.welcomeMessage %></p>
						<hr class="my-4">
						<p><%= auctionDetails.description %></p>
					</div>	
				</div>	
				<div class="col"></div>  <!-- this column is for equal space on the margins -->
		</div>
    
    <footer class="event-footer">
		<p><a href="https://vmcfoundation.org/">Valley Medical Center Foundation</a></p>

		<p>
			<a href="#">Back to top</a>
		</p>
    </footer>
	
	
    </head>
    
  </body>
</html>
