<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
	<title>Featured Packages</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">  
	<link rel="stylesheet" type="text/css" href="/css/packageStyle.css">

	<!-- Sockets and JavaScript -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

	<script type='text/javascript'>
		var socket = io.connect('http://localhost:8000/');
		// var socket = io.connect('http://dv1.elizabid.com/');

			$(document).ready(function(){
        		socket.on("serverTalksBack", function(data){
          		$('.currentBid'+data.packId).text(data.bid + " (by: " + data.userName + ")")
          		console.log(data.bid);
        	})

	</script>
</head>

<body>
	<%if(admin){%>
	<%- include('adminHeader') -%>
	<%}else{%>
		<%- include('header') -%>
	<%}%>

	<div class="container">

		<h2 class="supporter-view">Featured Packages</h2>

		<div class="d-flex flex-row flex-wrap justify-content-start">
			<% for (var f in featured) {%>
				<div class="package bids col-lg-4 col-md-12 col-sm-12 mt-3 mb-3">
					<div class="card pkg-card">	
						<div class="card-body">
							<div class="featured-num">
								#<%= featured[f]._id %>
							</div> 
							<div class="featured-priority">
								<%= featured[f].priority %>
							</div>
							<div class="featured-box">
								FEATURED
							</div> 
							<div class="d-flex flex-row justify-content-start align-items-start card-top"> 
								<img class="pkg-img mr-3" src="/<%= featured[f].photo %>">
								<div>  
									<a class="pkg-title" href="/<%= auction %>/packages/<%= featured[f]._id %>"><%= featured[f].name %></a>
									<p class="category mt-1">Category: <%=featured[f]._category%></p>
								</div>	
							</div>
							<hr>
							<div class="row ml-1">
								<ul>
								<!--<li>Value: <span class="value"><%= "$" + featured[f].value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></li> -->
									<li>Opening Bid: <span class="opening-bid"> <%="$" + featured[f].amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></span></li> 	
									<%if(featured[f].bids[featured[f].bids.length-1]){%>
										<li class="mt-1">Highest Bid: <span class="highest-bid"> <%="$" + featured[f].bids[featured[f].bids.length-1].bidAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> (by: <%= featured[f].bids[featured[f].bids.length-1].name%>)</span></li>
									<%}else{%>
										<li class="mt-1 no-bid">No bids yet! </li>
									<%}%>
									<!-- TO ADD THE CORRECT INFO FROM DATABASE -->
									<li class="donated mt-1">Donors: Ms. P. Alisson; ABC Tour; Dr. N. Johnson</li>
								</ul>
							</div>
							<hr>
							<div class="text-center">
								<!-- <%if(userName && userName !== "Clerk"){%> -->
								<% var flag = false %>
								<% for(var i = 0; i < user._packages.length; i++){ %>
									<% if(featured[f]._id == user._packages[i]) {%>
										<!--do this in ajax call instead-->
										<button class="btn btn-remove-watchlist mb-3" onClick="document.location='/<%=auction%>/users/uninterested-in-featured/<%=featured[f]._id%>'">Remove from Watchlist</button>
										<!-- <a href="/<%=auction%>/users/uninterested-in-featured/<%= featured[f]._id %>"><button type="button" name="interested">Remove from Watchlist</button></a> -->
										<% flag = true %>
											<% break %>
										<% } %>
									<%}%>

									<% if(flag === false) {%>
										<!--do this in ajax call instead-->
										<button class="btn btn-add-watchlist mb-3" onClick="document.location='/<%=auction%>/users/interested-in-featured/<%=featured[f]._id%>'">Add to Watchlist</button>
									<!-- <a href="/<%=auction%>/users/interested-in-featured/<%= featured[f]._id %>"><button type="button" name="interested">Add to Watchlist</button></a> -->
									<%}%>
								<%}%>			
							</div>
						</div>	
					</div>
				</div>	
			<%}%>
		</div>
	</body>
</html>
