
<!-- Bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css" >
  <link rel="stylesheet" href="/css/header.css"> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<header>

<nav class="navbar navbar-expand-md navbar-dark nav-head">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <% if (auction){ %>
        <ul class="navbar-nav mr-auto">
            <li class="li-marg">
              <a class="nav-link nav-org" href="/<%=auction%>/packages">Catalog</a>
            </li>
        </ul>
      <%}%>
    <!-- fix the route that takes it to the '#' and it actually should not be there in full size screens but only mobile displays -->
        <div class="desktop-clock">
          <p class="timer" data-startClock="<%= auctionDetails.startClock %>"></p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <%if(userName){%>
            <li class="li-marg">
              <a class="nav-link nav-org" href="/<%=auction%>/users/<%=userName%>">Watch List</a>
            </li>
            <li class="li-marg">
              <a class="nav-link nav-org" href="/<%=auction%>/users/account/<%=userName%>"><%=userName%>'s Account</a>
            </li>
            <li class="li-marg">
              <a class="nav-link nav-org" href="/users/logout">Logout</a>
            </li>
          <%}else{%>
            <li>
              <a class="nav-link nav-org" href="/users/login">Login</a> 
            </li>
            <li>
              <a class="nav-link nav-org" href="/users/register">Register </a>
            </li>
          <%}%>
        </ul>
        <!-- colapse div ends -->
    </div>
    <div class="mobile-clock">
      <p class="timer"></p>
    </div>
<!-- container ends -->
  </div>
</nav>
</header>

<script>
  const desktopClock = document.getElementsByClassName('timer')[0];
  const mobileClock = document.getElementsByClassName('timer')[1];

  function countdown(endDate) {
    let timer, days, hours, minutes, seconds;

    endDate = new Date(endDate).getTime();

    if (isNaN(endDate)) {
      return;
    }

    timer = setInterval(calculate, 1000);

    function calculate() {
      let startDate = new Date().getTime();

      let timeRemaining = endDate - startDate;

      if (timeRemaining >= 0) {

        days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
      
        if (days < 1) {
          desktopClock.innerHTML = `
            <span class="clock-numbers">${hours}</span> Hours
            <span class="clock-numbers">${("0" + minutes).slice(-2)}</span> Minutes
            <span class="clock-numbers">${("0" + seconds).slice(-2)}</span> Seconds
           `
          mobileClock.innerHTML = `
            <span class="clock-numbers">${hours}</span> Hours
            <span class="clock-numbers">${("0" + minutes).slice(-2)}</span> Minutes
            <span class="clock-numbers">${("0" + seconds).slice(-2)}</span> Seconds
           `  
        } else {
          desktopClock.innerHTML = `
            <span class="clock-numbers">${days}</span> Days
            <span class="clock-numbers">${("0" + hours).slice(-2)}</span> Hours
            <span class="clock-numbers">${("0" + minutes).slice(-2)}</span> Minutes
            <span class="clock-numbers">${("0" + seconds).slice(-2)}</span> Seconds
          `
          mobileClock.innerHTML = `
            <span class="clock-numbers">${days}</span> D
            <span class="clock-numbers">${("0" + hours).slice(-2)}</span> H
            <span class="clock-numbers">${("0" + minutes).slice(-2)}</span> M
            <span class="clock-numbers">${("0" + seconds).slice(-2)}</span> S
          `
        }
      } else {
        desktopClock.style.color = 'orangered';
        mobileClock.style.color = 'orangered';
        desktopClock.style.fontWeight = 'bold';
        mobileClock.style.fontWeight = 'bold';
        desktopClock.innerHTML = 'Auction has ended';
        mobileClock.innerHTML = 'Auction has ended';
      }
    }
  }

  (function () {
    let startTime = desktopClock.dataset.startclock;

    countdown(startTime);
  }());
</script>

<!-- Nav-bar -->
