<!DOCTYPE html>
<html>

<head>
    <title>
        Item Creation
    </title>

</head>

<body>
  <nav>
    <a href="/item/bidder">Items</a> |
    <a href="/package/bidder">Packages</a> |
    <a href="/bid/bidder">Bids</a> |
    <a href="/profile/bidder">Profile</a> |
    <a href="/cart/bidder">Cart</a>

  </nav>
  <h2>Item Report</h2>

  <table>
      <thead>
        <tr>
            <th>Item Number</th>
            <th>Item Name</th>
            <th>Package</th>
            <th>Category</th>
            <th>Fair Market Value</th>
            <th>Item Description</th>
            <th>Donor</th>
            <th>Item Restriction</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i in items){%>
          <tr>
              <td><%= items[i]._id%></td>
              <td><%= items[i].name%></td>
              <td><%= items[i]._package%></td>
              <td><%= items[i]._category%></td>
              <td><%= items[i].value%></td>
              <td><%= items[i].description%></td>
              <td><%= items[i].donor%></td>
              <td><%= items[i].restrictions%></td>
          </tr>
        <%}%>
      </tbody>
  </table>

</body>

</html>
