<!DOCTYPE html>
<html>

<head>
    <title>
        Item Creation
    </title>

</head>

<body>
  <nav>
    <a href="/api/items">Catalog</a> |
    <a href="/api/packages">Packages/Bids</a> |
    <%if (admin){%>
      <a href='/api/users'>All Users</a> |
      <a href="/api/items/new"> Add Item</a> |
      <a href="/api/packages/new"> Add Package</a> |
    <%}%>
    <%if (userName){%>
      <a href='/api/users/logout'>Logout</a> |
    <%}else{%>
    <a href='/api/users_login'>Login</a> |
    <a href="/users/register">Register </a> |
    <%}%>

  </nav>
  <h2>Item Report</h2>

  <table>
      <thead>
        <tr>
            <% if (admin) { %>
              <th>Actions</th>
            <%} %>
            <th>Item Number</th>
            <th>Item Name</th>
            <th>Package</th>
            <th>Category</th>
            <th>Fair Market Value</th>
            <th>Item Description</th>
            <th>Donor</th>
            <th>Item Restriction</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i in items){%>
          <tr>
              <% if(admin){ %>
                <td><a href='/api/items/<%=items[i]._id%>'><button>Edit</button></a>|<a href='/api/remove_item/<%=items[i]._id%>'><button>Delete</button></a></td>
              <%}%>
              <td><%= items[i]._id%></td>
              <td><%= items[i].name%></td>
              <td><%= items[i]._package%></td>
              <td><%= items[i]._category%></td>
              <td><%= items[i].value%></td>
              <td><%= items[i].description%></td>
              <td><%= items[i].donor%></td>
              <td><%= items[i].restrictions%></td>
          </tr>
        <%}%>
      </tbody>
  </table>

</body>

</html>
