<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Item</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">    
  
    <!-- Java Script -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
            
    <script>
      $(document).ready(function() {
        validator.resetForm();
      });
    </script>

  </head>

  <body>
    <%if(admin){%>
    <%- include('adminHeader') -%>
    <%}else{%>
      <%- include('header') -%>
    <%}%>
  
    <!-- Main Container -->
    <div class="container mt-4">

		  <h2>Edit Item</h2>
      <p class="err-info">The fields marked with (*) are required.</p>

      <!-- Form -->
		  <form action="/<%=auction%>/items/<%=item._id %>" method="post"  id="itemsForm">

        <!-- Edit Item Info -->
        <div class="form-row mt-3">
          <div class="form-group col-md-4">
            <label for="itemName" class="label-name">Item Name*</label>
            <input type="text" name="itemName" class="form-control" id="itemName" value="<%= item.name %>">
          </div>
          <div class="form-group col-md-4">
            <label for="category" class="label-name">Category*</label>
            <select name="category" class="custom-select" id="category">
              <option selected value="<%=item._category%>"><%=item._category%></option>
              <% for (var c in categories){%>
                <% if(categories[c].name != item._category) {%>
                  <option value="<%=categories[c].name%>"><%=categories[c].name%></option>
                <%}%>
              <%}%>
                <!-- add radio and jquery to make only one category option apear
                or make a separate page to create catagories -->
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="fairMarketValue" class="label-name">Fair Market Value*</label>
            <input type="text" name="fairMarketValue" class="form-control" id="fairMarketValue" value="<%= item.value %>">
          </div>
        </div>  

        <!-- Edit Donor Info -->
        <div id="donor" class="container">
            <h5>Donor Information</h5> 
            <p class="err-info"> Either donor's Last Name or Organization is required.</p>
            <div class="form-row">
                <div class="form-group col-md-2">
                  <label for="donorPrefix" class="label-name">Full Name</label>
                  <input type="text" name="donorPrefix" id="donorPrefix" class="form-control" id="donorPrefix" value="<%= item.donorPrefix %>">
                </div>
                <div class="form-group col-md-5">
                    <label for="donorFirst" class="label-name">First Name</label>
                    <input type="text" name="donorFirst" class="form-control" id="donorFirst" value="<%= item.donorFirst %>">
                </div>    
                <div class="form-group col-md-5">
                   <label for="donorLast" class="label-name">Last Name</label>
                   <input type="text" name="donorLast" class="form-control" id="donorLast" value="<%= item.donorLast %>">
                </div> 
            </div>  
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="donorOrg" class="label-name">Organization</label>
                  <input type="text" name="donorOrg" class="form-control" id="donorOrg" value="<%= item.donorOrg %>">
                </div> 
                <div class="form-group col-md-6">
                  <label for="donorDisplay" class="label-name">Donor Display</label>
                  <input type="text" name="donorDisplay" class="form-control" id="donorDisplay" value="<%= item.donorDisplay %>">
                </div> 
            </div>  
          </div>

          <!-- Edit item description and restrictions -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="itemDescription" class="label-name">Item Description*</label>
              <textarea id='itemDescription' name="itemDescription" class="form-control" rows="2"><%=item.description %></textarea>
            </div>
            <div class="form-group col-md-6">
              <label for="itemRestriction" class="label-name">Item Restriction</label>
              <textarea name="itemRestriction" class="form-control" rows="2"><%=item.restrictions %></textarea>
            </div>  
          </div>  

          <input type="submit" name="" value="Submit" class="btn btn-submit mt-1">
		  </form>
    </div>

  <script>

    var validator = $("#itemsForm").validate({
      rules: {
        itemName: {
          required: true,
          minlength: 4
        },
        category: {
          required: true
        },
        fairMarketValue:{
          required: true,
          number: true
        },
        itemDescription: {
          required: true,
          minlength: 4
        },
        donorLast: {
          minlength: 2, 
          required: false 
        },  
        donorOrg: {
          minlength: 3, 
          required: function() { return $('#donorLast').val().length == 0; }
        }
      },
      messages: {
        donorOrg: {
          required: "If Last Name is empty, Organization is required!"
        }
      }
    });

    validator.form();
    if (window.location.search.substring(1) === 'true') {
      url = window.location.href;
      window.location.replace(url.replace('?true', ''));
      alert('Form submitted succesfully.');
    }
    
  </script>
 
	</body>
</html>
