<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Donated Item Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">  
  <link rel="stylesheet" type="text/css" href="/css/item.css" >
  
  <!-- Java Script -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
</head>

<body>
  <%if(admin){%>
    <%- include('adminHeader') -%>
    <%}else{%>
      <%- include('header') -%>
      <%}%>

  <div class="container-fluid item-container">
    <h2 class="my-4">Donated Items</h2>
      <div id="search-container">
        <!-- Find items by keyword -->
        <div id="search-keyword">
          <label for "keyword" class="label-search">Search by keyword:</label>
          <input class="form-control" type="search" id="keyword" placeholder="Keyword">
        </div>
        
        <!-- Find all items in a category-->
        <div id="search-category">
            <label for "category" class="label-search">Search by category:</label>
            <select class="form-control" name="category" id="category">
              <option value="">All Categories</option>
              <% for(var c in categories) {%>
                <option value="<%=categories[c].name%>"><%=categories[c].name%></option>
              <%}%>
            </select>
        </div>
      </div>
      
      <!-- Item Table -->
        <div class="table-responsive-md ">
          <table id="item-table" class="table table-striped table-bordered">
            <thead >
              <tr>
                  <th scope="col" class="narrow-col">Item Number</th>
                  <th scope="col" class="medium-col">Item Name</th>
                  <th scope="col" class="medium-col">Package</th>
                  <th scope="col" class="med-to-narrow-col">Category</th>
                  <th scope="col" class="narrow-col" "item-val">Fair Market Value</th>
                  <th scope="col" class="large-col" >Item Description</th>
                  <th scope="col" class="medium-col">Item Restrictions</th>
                  <th scope="col" class="med-to-narrow-col">Donor Name</th>
                  <th scope="col" class="med-to-narrow-col">Donor Organization</th>
                  <th scope="col" class="med-to-narrow-col">Donor Display</th>
                  <% if (admin) { %>
                    <th scope="col" class="med-to-narrow-col">Actions</th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <% for (var i in items){%>
                  <tr class="itemRow">
                      <td><%= items[i]._id%></td>
                      <td><a class="mb-1 mr-1" href='/<%=auction%>/items/<%=items[i]._id%>'><%= items[i].name%></a></td>
                      <% if (items[i].packaged) {%>
                        <td> <a class="pkg-link" href="/<%=auction%>/packages/<%= items[i]._package._id%>"> <%= items[i]._package.name%></a></td>
                      <%}else{%>
                        <td></td>
                      <%}%>
                      <td><%= items[i]._category%></td>
                      <td class="item-val"><%= "$" + items[i].value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
                      <td><%= items[i].description%></tdc>
                      <td><%= items[i].restrictions%></td>
                      <td><%= items[i].donorPrefix%> <%= items[i].donorFirst%> <%= items[i].donorLast%></td>  
                      <td><%= items[i].donorOrg%></td>
                      <td><%= items[i].donorDisplay%></td>
                      <% if(admin){ %>
                        <td>
                          <a class="mb-1 mr-1" href='/<%=auction%>/items/<%=items[i]._id%>'><i class="fas fa-edit to-edit"></i></a>
                          <a class="mb-1" href='/<%=auction%>/items/remove/<%=items[i]._id%>'><i class="far fa-trash-alt to-delete"></i></a>
                        </td>
                      <%}%>
                </tr>
              <%}%>
            </tbody>
          </table>
  </div> <!-- End main page container-->

  <script type="text/javascript">
    $(document).ready(function() {
      console.log("Ready!");
      $("#keyword").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        if (value == '') {
          $(".itemRow").show();
        } else {
          $(".itemRow").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > 0);
          });
        }
      });

      $("select[name='category']").change( function() {
        var value = $(this).val().toLowerCase();
        $(".itemRow").filter(function(){
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        })
      })

    });        
  </script>
</body>
</html>
     