<!DOCTYPE html>
<html>

<head>

    <!-- <link rel="stylesheet" type="text/css" href="./css/style.css" > -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>
        Item Creation
    </title>

</head>

<body>
  <!-- Nav-bar -->
  <%- include('header') -%>


  <h2 class="display-4">Item Report</h2>

  <table class="table table-hover table-dark">
      <thead>
        <tr>
            <% if (admin) { %>
              <th>Actions</th>
            <%} %>
            <th scope="col">Item Number</th>
            <th scope="col">Item Name</th>
            <th scope="col">Package</th>
            <th scope="col">Category</th>
            <th scope="col">Fair Market Value</th>
            <th scope="col">Item Description</th>
            <th scope="col">Donor</th>
            <th scope="col">Item Restriction</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i in items){%>
          <tr>
              <% if(admin){ %>
                <td><a href='/api/items/<%=items[i]._id%>'><button>Edit</button></a>|<a href='/api/remove_item/<%=items[i]._id%>'><button>Delete</button></a></td>
              <%}%>
              <td><%= items[i]._id%></td>
              <td><%= items[i].name%></td>
              <td><%= items[i]._package%></td>
              <td><%= items[i]._category%></td>
              <td><%= items[i].value%></td>
              <td><%= items[i].description%></td>
              <td><%= items[i].donor%></td>
              <td><%= items[i].restrictions%></td>
          </tr>
        <%}%>
      </tbody>
  </table>

</body>

</html>
