<!doctype html>
<html lang="en">
  	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Home | Auction Organizer Home Page</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" >
		<link rel="stylesheet"type="text/css" href="/css/main.css">

        <!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<!-- JavaScript -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  	</head>
  	<body>
		<!-- Auction Organizer Home Page-->
		<!-- Landing Page Header-->
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003d79";>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				
				<ul class="navbar-nav mr-auto py-1">
					<li>
						<span class="brand-white">
							elizabid
						</span>
					</li>
					<!--
					<li class="nav-item active">
						<a class="nav-link dash-home" href="/auctions/main"><i class="fas fa-home fa-2x"></i></a>
					</li>
					-->
				</ul>
				
				<div class="col-4 d-flex justify-content-end align-items-right col-auto">
					<!--
					<div class="col-4 pt-1 text-white">
						Hi, <%= user.firstName %>
					</div>
					-->
				</div>
				<a class="btn btn-outline-light my-2 my-sm-0 btn-logout" href="/users/logout">Logout</a>
			</div>
		</nav>

		<!-- Jumbo Head Section-->
		<div class="jumbotron jumbotron-fluid">
			<div class="container jumbo-head">
					<h1 class="display-3">Welcome, <%= user.firstName %>! </h1>
					<p>This is your main dashboard. What would you like to do today?</p>

			</div>
		</div>

		<!-- 3-column selections-->
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div class ="card bg-light main-card">
						<h4 class="card-header"><i class="fas fa-seedling"></i> &nbsp; Start New Auction</h4>
							<div class="card-body">
							<ul style="list-style-type:none">
								<li><a href="/auctions" class="btn btn-create">Create New Auction</a></li>
							</ul>	
							</div>
							

					</div>
					</div>

				<div class="col-sm">
					<div class ="card bg-light main-card">
						<h4 class="card-header"><i class="fas fa-piggy-bank"></i> &nbsp; Resume Auction </h4>
						<div class="card-body">
							<ul style="list-style-type:square">
								<% for (var a in auctions) { %>
									<li> <a href="/<%= auctions[a]._id %>/organizerMenu" class="dash-link"> <%= auctions[a].name %> </a></li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm">
					<div class ="card bg-light main-card">
						<h4 class="card-header"><i class="fas fa-hand-holding-usd"></i> &nbsp; View Archived Auctions</h4>
						<div class="card-body text-black-50">
							<ul style="list-style-type:square">
								<% for (var a in archivedAuctions) { %>
									<li> <%= archivedAuctions[a].name %></li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
				</div>

		</div> <!-- end of 3-column container-->


		<!--Organizer Footer-->
		<footer class="footer">
      		<div class="container-fluid">
        		 &copy 2018 
				<img src="/VMCF_Logo_Blue_rgb.png" class="rounded float-right footer-logo">
      		</div>
    	</footer>


  	</body>
</html>
