<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <title>Organizer Menu</title>
  </head>
  <%if(admin){%>
  <%- include('adminHeader') -%>
  <%}else{%>
    <%- include('header') -%>
  <%}%>
  <body>
    <div class="container">
      <h1 class="text-center mt-3"><%= auctionDetails.name %></h1>
      <table id="orgMenu" class="table table-hover text-justify table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">Edit Auction</th>
          <th scope="col">Create Catalog</th>
          <th scope="col">Register Supporters</th>
          <th scope="col">Reports</th>
          <th scope="col">Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td onClick="document.location='/<%=auction%>/edit'" class="highlight borderSide"><i class="fas fa-edit"></i> Edit Auction Details</td>
		  <!-- Change auction._id to auction.name in URL -->
          <!-- <td onClick="document.location='/<%=auction%>/edit'" class="highlight borderSide"><i class="fas fa-edit"></i> Edit Auction Details</td> -->
          
		  
		  <td onClick="document.location='/<%=auction%>/items/new'" class="highlight borderSide"><i class="fas fa-plus-circle"></i> Add Items</td>
		  <!-- Change auction._id to auction.name in URL -->
          <!-- <td onClick="document.location='/<%=auction%>/items/new'" class="highlight borderSide"><i class="fas fa-plus-circle"></i> Add Items</td> -->
          
		  <td class="highlight borderSide text-black-50"><i class="fas fa-user-plus"></i> Add Supporters</td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-chart-bar"></i> Auction Summary Report</td>
          
		  <td onClick="document.location='/<%=auction%>/categories'" class="highlight borderSide"><i class="fas fa-list-ol"></i> Edit Categories</td>
		  <!-- Change auction._id to auction.name in URL -->
		  <!-- <td onClick="document.location='/<%=auction%>/categories'" class="highlight borderSide"><i class="fas fa-list-ol"></i> Edit Categories</td> -->
        </tr>
        <tr>
          <td class="highlight borderSide text-black-50"><i class="fas fa-clock"></i> Edit Auction Clock</td>

          <td onClick="document.location='/<%=auction%>/packages/new'" class="highlight borderSide"><i class="fas fa-box-open"></i> Create packages</td>
		  <!-- Change auction._id to auction.name in URL -->
          <!-- <td onClick="document.location='/<%=auction%>/packages/new'" class="highlight borderSide"><i class="fas fa-box-open"></i> Create packages</td> -->

          <td class="highlight borderSide text-black-50"><i class="fas fa-address-book"></i> View/Edit Supporters Registry</td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-archive"></i> Package Summary</td>
          <td class="highlight borderSide" onClick="document.location='/users/admin'"><i class="fas fa-unlock-alt"></i> Admin Rights</td>
        </tr>
        <tr>
          <td class="highlight borderSide text-black-50"><i class="fas fa-envelope-square"></i> Create Email Invitation</td>

          <td onClick="document.location='/<%=auction%>/packages'" class="highlight borderSide"><i class="fas fa-th"></i> Preview Catalog</td>
		  <!-- Change auction._id to auction.name in URL -->
          <!-- <td onClick="document.location='/<%=auction%>/packages'" class="highlight borderSide"><i class="fas fa-th"></i> Preview Catalog</td> -->

          <td class="highlight borderSide text-black-50"><i class="fas fa-clipboard-list"></i> Create Email Distribution List</td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-cubes"></i> Package Details</td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-database"></i> Customize Data Fields</td>
        </tr>
        <tr>
          <td class="borderRight"></td>

          <td onClick="document.location='/<%=auction%>/items/populate'" class="highlight borderSide">Populate from CSV</td>
		  <!-- Change auction._id to auction.name in URL -->
          <!-- <td onClick="document.location='/<%=auction%>/items/populate'" class="highlight borderSide">Populate from CSV</td> -->

          <td class="borderSide"></td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-history"></i> Bid History By Package</td>
          <td class="borderSide"></td>
        </tr>
        <tr>
          <td class="borderRight"></td>
          <td class="borderRight"></td>
          <td class="noBorder"></td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-money-bill-alt"></i> Proceeds By Bidder</td>
          <td class="noBorder"></td>
        </tr>
      </tbody>
    </table>
    <div class="row text-center">
      <div class="col-4">

        <a href="/<%=auction%>/event"><button id="previewEvent" type="button" class="btn btn-success">Preview Event Page</button></a>
		<!-- Change auction._id to auction.name in URL -->
        <!-- <a href="/<%=auction%>/event"><button id="previewEvent" type="button" class="btn btn-success">Preview Event Page</button></a> -->
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-info">Monitor Bidding</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-dark">Publish Auction</button>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){

      $('#orgMenu td').click(function(){
        var href = $(this).find("a").attr("href");
        if(href){
          window.location = href;
        }
      });
    });
  </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
