<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Organizer Menu</title>

   <!-- Bootstrap & CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/style.css" >

  </head>
  <%if(admin){%>
  <%- include('adminHeader') -%>
  <%}else{%>
    <%- include('header') -%>
  <%}%>
  <body>
    <div class="container">
      <h2 class="text-center mt-5"><a href="/<%=auction%>/event"><%= auctionDetails.name %></a></h2>
      <p class="pin text-center">(Pin: <%= auctionDetails.pin %>)</p>
      <table id="orgMenu" class="table table-hover text-justify table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">Set Up Auction</th>
          <th scope="col">Create Catalog</th>
          <th scope="col">Register Supporters</th>
          <th scope="col">Generate Reports</th>
          <th scope="col">Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td onClick="document.location='/<%=auction%>/event'" id="previewEvent" class="highlight borderSide"><i class="fas fa-tablet"></i> Preview Event Page</td>
          <td onClick="document.location='/<%=auction%>/items/new'" class="highlight borderSide"><i class="fas fa-plus-circle"></i> Add Items</td>
          <td onClick = "document.location='/<%=auction%>/users/new'" class="highlight borderSide"><i class="fas fa-user-plus"></i> Add Supporters</td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-chart-bar"></i> Auction Summary Report</td>
          <td onClick="document.location='/<%=auction%>/categories'" class="highlight borderSide text-black-50"><i class="fas fa-list-ol"></i> Edit Categories</td>
        </tr>
        <tr>
          <td onClick="document.location='/<%=auction%>/edit'" class="highlight borderSide"><i class="fas fa-edit"></i> Edit Auction Details</td>
          <td onClick="document.location='/<%=auction%>/items/csv'" class="highlight borderSide"><i class="fas fa-file-import"></i> Import Items from CSV</td>
          <td onClick="document.location='/<%=auction%>/users/csv'" class="highlight borderSide"><i class="fas fa-users"></i> Import Users from CSV</td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-archive"></i> Package Summary</td>
          <td class="highlight borderSide text-black-50" onClick="document.location='/users/admin'"><i class="fas fa-unlock-alt"></i> Admin Rights</td>
        </tr>
        <tr>
          <td class="highlight borderSide text-black-50"><i class="fas fa-clock"></i> Edit Auction Clock</td>
          <td onClick="document.location='/<%=auction%>/items'" class="highlight borderSide"><i class="fas fa-columns"></i> View Item Register</td>
          <td onClick="document.location='/<%=auction%>/users'"class="highlight borderSide"><i class="fas fa-address-book"></i> View Supporter Register</td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-cubes"></i> Package Details</td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-database"></i> Customize Data Fields</td>
        </tr>
        <tr>
          <td class="highlight borderSide text-black-50"><i class="fas fa-envelope-square"></i> Create Email Invitation</td>
          <td onClick="document.location='/<%=auction%>/packages/new'" class="highlight borderSide"><i class="fas fa-box-open"></i> Create Packages</td>         
          <td class="highlight borderSide text-black-50"><i class="fas fa-clipboard-list"></i> Create Email List</td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-history"></i> Bid History By Package</td>
          <td class="highlight borderSide"></td>
        </tr>
        <tr>
          <td onClick="document.location='/<%=auction%>/packages/uprights'" class="highlight borderSide"><i class="fas fa-file-image"></i> Package Uprights</td>
          <td onClick="document.location='/<%=auction%>/packages/list'" class="highlight borderSide"><i class="fas fa-file-alt"></i> View Package Register</td>
          <td class="noBorder"></td>
          <td class="highlight borderSide text-black-50"><i class="fas fa-money-bill-alt"></i> Proceeds By Bidder</td>
          <td class="noBorder"></td>
        </tr>
        <tr>
          <td class="noBorder"></td>
          <td onClick="document.location='/<%=auction%>/packages'" class="highlight borderSide"><i class="fas fa-th"></i> Preview Catalog</td>
          <td class="borderSide"></td>
          <td class="borderSide"></td>
          <td class="noBorder"></td>
        </tr>

      </tbody>
    </table>

  <script>
    $(document).ready(function(){

      $('#orgMenu td').click(function(){
        var href = $(this).find("a").attr("href");
        if(href){
          window.location = href;
        }
      });
    });
  </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
