<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Package creation</title>
    <link rel="stylesheet" type="text/css" href="/css/packageCreate.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
  </head>
  <body>
    <!-- <script>
      function test(){
        alert('hello')
      }
    </script> -->
    <%if(admin){%>
    <%- include('adminHeader') -%>
    <%}else{%>
      <%- include('header') -%>
    <%}%>
    <div class="form-row space">
        <div class="container mt-4">
          <h2>Create Package</h2>
          <div class="row">
            <div class="col err-info">
              The fields marked with (*) are required.
            </div>
        </div>
        <form id="packageForm" action="/<%=auction%>/packages" method="post">
          <div class="form-group">
            <label for="packageName">Package Name*</label>
            <input type="text" name="packageName" id="packageName" class="form-control">
          </div>
        <!-- priority is asscending currently 0 would be at the top of the page -->
          
        <div class="form-group">
          <label for="featured">Featured?</label>
          <select name='featured' id="featured" class="form-control">
            <option value='false'>False</option>
            <option value='true'>True</option>
          </select>
        </div>

            <div class="col-6">
                <label for="">Category</label>
                <select name="category" id="category" class="form-control">
    
                  <% for (var c in categories){%>
                    <!-- add radio and jquery to make only one catagory option apear
                    or Make a seperate page to creat catagories -->
                    <option value="<%=categories[c].name%>"><%=categories[c].name%></option>
                    <%}%>
                  </select>
              </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <input type="number" name="openingBid" id="openingBid" placeholder="Opening Bid*" class="form-control">
            </div>
            <div class="col-6">
              <input type="number" name="increments" id="increments" placeholder="Increment*" class="form-control">
            </div>
          </div>

          <!-- need a read only feild with the current number selected -->
          <div class="alert alert-secondary">
            <div class="form-check">
              <div>
                <p>Items</p>
                <ol id="itemList">
                </ol>
              </div>
                                                          <!-- Commented for future reference -->
            <!-- <%for (var i in items){%>
              <%if(!items[i].packaged){%>
                <br>
                <input class="form-check-input" required value="<%=items[i]._id%>" type="checkbox" name="selectedItems" id="<%=items[i]._id%>" onChange='totalAdd(<%=items[i].value%>, <%=items[i]._id%>)'>
                <label for="<%=items[i]._id%>"><%=items[i].name%></label>
                <p><strong>Restrictions:</strong> <%= items[i].restrictions %></p>
                <p>Fair Market Value: <%= items[i].value %></p>
                <%}%>
                <%}%> -->

                                                          <!-- End reference Comment -->
            </div>
          </div>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary mb-4 show-modal" data-toggle="modal" data-target="#itemsModal">
            Add More Items...
          </button>

          <div class="form-group">
              <label for="packageDescription">Package Description*</label>
              <textarea class="form-control" name="packageDescription" id="packageDescription" rows="8" cols="40"></textarea>
            </div>

          <div class="form-group">
            <label for="packageRestrictions">Package Restrictions</label>
            <textarea class="form-control" name="packageRestrictions" id="packageRestrictions" rows="8" cols="40"></textarea>
          </div>
          <div class="form-group">
            <label for="totalValue">Total Value</label>
            <input readonly id="totalValue" type="number" name="totalValue" value="0" class="form-control">
          </div>
          <a href="/<%=auction%>/organizer-menu" class="btn btn-secondary">Back</a>
          <input type="submit" name="submit" value="Submit" class="btn btn-primary">

          <!-- Modal -->
          <div class="modal fade bd-example-modal-lg" id="itemsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Search by Category: </h5>
                  <select class="btn btn-secondary" name='category' id='category'>
                    <option value="">All Categories</option>
                    <% for(var c in categories) {%>
                      <option value="<%=categories[c].name%>"><%=categories[c].name%></option>
                    <%}%>
                  </select>
                  <!-- <input type="text" class="form-control col-md-6" placeholder="Search for..."> -->
                </div>
                <div class="modal-body">
                  <div class="col-lg-6">
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Restrictions</th>
                            <th>Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%for (var i in items){%>
                            <%if(!items[i].packaged){%>
                              <tr class="itemRow">
                                <td>
                                  <input class="" required value="<%=items[i]._id%>" type="checkbox" name="selectedItems" id="<%=items[i]._id%>" onChange='totalAdd(<%=items[i].value%>, <%=items[i]._id%>)'>
                                </td>
                                <td>
                                  <label for="<%=items[i]._id%>"><%=items[i].name%></label>
                                </td>
                                <td>
                                  <%=items[i]._category%>
                                </td>
                                <td>
                                  <%= items[i].restrictions %>
                                </td>
                                <td>
                                  <p><%= items[i].value %></p>
                                </td>
                              </tr>
                              <%}%>
                            <%}%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="saveChecked" type="button" class="btn btn-primary" onClick="updateList(<%=JSON.stringify(items)%>);" >Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->
          </form>
    </div>
    <script>
      $(document).ready(function(){
        $('.show-modal').click(function(){
          $('#itemsModal').modal({
            backdrop: 'static',
            keyboard: false
          })
        })

        var total = 0;
        var checkedItems = {};
        totalAdd = function(value, id){
          var checkbox = document.getElementById(id);
          if (checkbox.checked === true){
            total += value
            console.log("total is", total);
            checkedItems[id]= id;
            console.log("checkbox", checkbox);
          }
          document.getElementById('totalValue').value = total
        }

        updateList = function(items){
          console.log("ITEMS: ", items)
          var counter = 0
          $('#itemList').html("")
          for (var i = 0; i < items.length; i++) {
            console.log("items[i]", items[i]._id)
            if(items[i].packaged === false){
              var checkbox = document.getElementById(items[i]._id)
              if (checkbox.checked === true){
                $('#itemList').append(`<li id='itemID${counter}'>` + items[i].name + "</li>")
                counter++
                $('#packageDescription').append(items[i].name + ":" + "\n" + "\t" + counter + ". " + items[i].description + "\n")
                $('#packageRestrictions').append(items[i].name + ":" + "\n" + "\t" + counter + ". " + items[i].restrictions + "\n")
              }else{
                $(`#itemID${counter}`).remove()
              }           
            }
          }           
        }

        var validator = $("#packageForm").validate({
          rules: {
            packageName: {
              required: true,
              minlength: 4
            },
            category: {
              required: true
            },
            openingBid:{
              required: true,
              number: true,
              min: 0
            },
            packageDescription: {
              required: true,
              minlength: 4
            },
            increments: {
              required: true,
              number: true,
              min: 5,
              step: 5
            },
          }
        });
        validator.form();
        if (window.location.search.substring(1) == 'true') {
          alert('that was a success')
        }
      })

      $("select[name='category']").change( function() {
          var value = $(this).val().toLowerCase();
          $(".itemRow").filter(function(){
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          })
      });
    </script>
  </body>
</html>
