<!DOCTYPE html>
<html>

<head>
    <title>
        Package Bidding Report
    </title>

</head>

<body>
  <nav>
    <a href="/items">VMC</a> |
    <a href="/packages">Catalog</a> |
    <a href="/bids">Packages/Bids</a> |
    <a href='/api/users_login'>Login</a> |
    <a href='/api/users'>All Users</a> |
  </nav>
  <h2>Packages/Bids</h2>
<% for (var p in packages){%>
<div class="package">
  <img src="/no-image.png" alt="img">
  <br>
  <a href="/api/packages/<%=packages[p]._id%>"><%=packages[p].name%></a>
  <p><b>Category:</b> <%=packages[p].catagory%></p>
  <p><b>STARTING BID:</b> <%=packages[p].amount%></p>
  <%if(packages[p].bids[packages[p].bids.length-1]){%>
  <p><b>Current Bid:</b> <%=packages[p].bids[packages[p].bids.length-1].bidAmount%> (By: <%= packages[p].bids[packages[p].bids.length-1].name%>)</p>
  <%}else{%>
    <p><b>Current Bid:</b> None (By: Nobody)</p>
  <%}%>
  <% if (admin){ %>
   <a href='/packages/<%=packages[p]._id%>'><button>Edit</button></a>
   <a href='/api/remove_package/<%=packages[p]._id %>'><button>Delete</button></a>
  <%}%>
</div>
<% }%>
</body>

</html>
