<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Package Information</title>

<!-- Dependencies -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css">  
<link rel="stylesheet" type="text/css" href="/css/packageStyle.css">
<link rel="stylesheet" type="text/css" href="/css/packageShow.css">
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>

<script type='text/javascript'>
	var socket = io.connect();

	function change() {
		var watchlistButton = document.getElementById("watchlistButton");
		if ( watchlistButton.value == "Remove from Watch List" ) {
			$.get("/<%= auction %>/users/uninterested-in-package/<%= package._id %>");
			$('#watchlistButton').attr("class","btn btn-add-watchlist mr-1");
			watchlistButton.value = "Add to Watch List";
		} else {
			$.get("/<%= auction %>/users/interested-in-package/<%= package._id %>");
			$('#watchlistButton').attr("class","btn btn-remove-watchlist mr-1");
			watchlistButton.value = "Remove from Watch List";
		}
	}
	//CHECK IF .btn-bid should be disable to prevent outbid oneself

	$(document).ready(function () {
		// console.log("xxx packageShow.ejs response = ",response);

		let auctionEndTime = Date.parse("<%= auctionDetails.endClock %>");
		var date = new Date();
		

		// FIXME: may need to change if statement
		if(date>auctionEndTime || "<%=package.highBidder%>" === "<%=user.firstName + " " + user.lastName%>"){
			document.getElementById('submitButton2').disabled = true;
		}


		$("#hide").click(function(){
    		$("#notification").hide();
		  });
		// no bids and no value entered in bid form field
		$('#submitButton').submit(function (event) {
			event.preventDefault();
			let sendBid;
			let auction = "<%= auctionDetails._id %>";
			let bidAmt = parseInt($("#bidAmount").val());
			let packageAmt = <%= package.amount %>;
			let newBid = parseInt(<%= lastBid + package.bidIncrement %>);
			let hiddenBidAmt = parseInt($("#hiddenBidAmt").val());
			let hasBids = <%= ourBids %>;
			let userName = "<%= user.firstName + ' ' + user.lastName %>";

			//No input and no bids, "Place Bid" will place bid of current bid plus increment
			if ( !bidAmt && hasBids === false ) {
				sendBid = packageAmt;
			//No input and has bids, "Place Bid" will place bid of current bid plus increment
			} else if ( !bidAmt && hasBids === true ) {
				//No hidden big amount use newBid from Controller else use the hidden bid amount from Server
				if (!hiddenBidAmt) {
					sendBid = newBid;
				} else {
					sendBid = hiddenBidAmt;
				}
			// no bids but with value entered in bid form field
			} else if ( bidAmt >= packageAmt && hasBids === false ) {
				sendBid = bidAmt;
			// has bids and has value entered in bid form field
			} else if ( bidAmt >= newBid && hasBids === true ) {
				sendBid = bidAmt;
			}
			socket.emit('msgSent', { packId: '<%= package._id %>', bid: sendBid , userName: userName, name: '<%= package.name %>',auction:auction})
		});

		// Updates packageShow page with bid price
		socket.on("serverTalksBack", function (data) {
			console.log(data.lastBid)
			let currentBid = (data.lastBid).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			let topBidder = data.userBidLast;
			let newBid = parseInt(data.lastBid) + <%= package.bidIncrement %>;
			let packageId = <%= package._id %>;
			let packId = parseInt(data.packId);


			// if(newBid > 1000000)
			// 	newBid = 1000000;

			if ( packId == packageId ) {
				$('#currentBid').text("$" + currentBid);
				$('#topBidder').replaceWith("<p id='topBidder' class='highest-bidder text-center'><i class='fas fa-trophy'></i> Top Bidder: " + topBidder);
				$('#minBid').text("Bid $"+ newBid.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+" or more");
				$('#bidAmount').attr('min',newBid);
				$('#bidAmount').val(newBid);
				$('#hiddenBidAmt').val(newBid);
				$('#afterBidMessage').text('');
				$('#history tr:first').after('<tr><td>'+ data.userBidLast+'</td><td>'+"$"+data.lastBid+'</td><td>'+data.bidTime+'</td></tr>');
			}
		});

		//Updates submit button only after bidding has been saved in database 
		socket.on('buttonStateChannel', function (data) {
			if ( data.packId == <%= package._id %> ) {
				if( data.button === 'disabled'){
					$('#submitButton2').attr('disabled','disabled')
				} else {
					$("#submitButton2").removeAttr('disabled');
				}
				
			}
		});

	})
	</script>
</head>

<body>

	<% if(admin == 2){ %>
		<%- include('adminHeader') -%>
	<% } else { %>
		<%- include('header') -%>
	<% } %>
	<% if(admin == 0){ %>
		<%- include('footerNotifications') %>
	<% } %>
	<% if(admin == 0){ %>
		<%- include('footerClock') -%>
	<% } %>


	<div class="container margin-tofooter">
		<div class="col-12">
			<div id="display-top">
				<h3 class="package-view my-1">#<%= package._id %> - <%= package.name %> </h3>
				<div class = "d-flex flex-row justify-content-around align-items-center">
					<a href="/<%= auction %>/packages/<%= prevPos %>"><button type="button" class="btn btn-next" name="interested"><i class="fas fa-angle-left fa-2x"></i></button></a>
					<img class="pkg-img-show mt-3 mb-2" src="/<%= package.photo %>">
					<a href="/<%= auction %>/packages/<%= nextPos %>"><button type="button" class="btn btn-next" name="interested"><i class="fas fa-angle-right fa-2x"></i></button></a>
				</div>
				
				<%if(package.featured===true){%>
					<div class="featured-box-show">
						#<%= package.priority%> - FEATURED
					</div> 
				<%}%>
			</div>

			<hr>

			<div class="d-flex flex-row justify-content-around mt-2">
				<div  class="text-center">Package Value</div>
				<div  class="text-center">Opening Bid</div>
				<div class="text-center">Highest Bid</div>	
			</div>

			<div class="d-flex flex-row justify-content-around">
				<div id="pkgVal" class="value-show text-center">$<%= package.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></div>
				<div id="openingBid" class="opening-bid-show text-center">$<%= package.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></div>
				<div class="text-center ">
					<% if (package.bids.length === 0){ %>
						<p id='currentBid' class="no-bid-show text-center">None</p>
					<% }else{ %>
						<p id='currentBid' class="highest-bid-show text-center">$<%= lastBid.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
					<% } %>
				</div>	
			</div>

			<div class="text-center">
				<% if(package.bids.length === 0){ %>
					<p id='topBidder'><i class="fas fa-trophy"></i> Top Bidder: <span class="no-bid"> No one yet! </span></p>
				<% }else{ %>
					<p id='topBidder' class="highest-bidder text-center"><i class="fas fa-trophy"></i> Top Bidder:  <%= package.bids[package.bids.length - 1].name %></p>
				<% } %>
			</div>
			
			<div class="text-center mt-4">
				<!-- Placing Bids -->
				<% if (admin === 0){ %>
					<form class="mt-3" id='submitButton' class="w-50">
						<% if (package.bids.length === 0){ %>
							<input type="number" id='bidAmount' type="number" min='<%= package.amount %>' value='<%= package.amount%>'>
						<% }else{ %>
							<% var recommendedBid = lastBid + package.bidIncrement %>
							<% if (recommendedBid > 54075){ %>
								<%recommendedBid = 54075%>
							<%}%>
							<input type="number" id='bidAmount' type="number" min='<%= recommendedBid %>' max = "<%= secret.maxBid %>" value='<%= recommendedBid %>'>
						<% } %>
							<input id='hiddenBidAmt' type="hidden" value=''>
							<input class="ml-1 btn-bid" type='submit' value='Place Bid' id='submitButton2' >
					</form>
				<% } %>

				<% if (package.bids.length === 0){ %>
					<p id = 'minBid' class="bid-more">Bid $<%= package.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> or more </p>
				<% }else{ %>
					<p id ='minBid' class="bid-more" >Bid $<%= (package.bidIncrement + lastBid).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> or more (min bid increment is <%= "$" + package.bidIncrement.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>)</p>
				<% } %>
			</div>

			<hr>

			<!-- Buttons -->
			<div class="d-flex flex-row justify-content-center align-items-center">
				<% if (user._packages.includes(package._id)) { %>
					<input class="btn btn-remove-watchlist mr-1" onclick="change(<%= package._id %>)" type="button" value="Remove from Watch List" id="watchlistButton"></input>
				<% } else { %>
					<input class="btn btn-add-watchlist mr-1" onclick="change(<%= package._id %>)" type="button" value="Add to Watch List" id="watchlistButton"></input>
				<% } %>
				<button type="button" class="btn btn-history ml-1" data-toggle="modal" data-target="#exampleModalLong">Bid History</button>
			</div>

			<hr>

				<p class="description-show mt-3"><%= package.description %> </p>
				<p class="restrictions-show">*Restrictions:  <%= package.restrictions %> </p>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Bid History</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Bidders: <strong><%= [...new Set(package.bids.map(x => x.name))].length; %></strong>&nbsp&nbsp&nbsp Bids: <strong><%= package.bids.length %></strong>&nbsp&nbsp&nbsp Time Left: &nbsp&nbsp&nbsp Duration:</p>

								<% if( package.bids.length === 0){ %>
									<p id ="afterBidMessage">No one has bid on this package yet.</p>
									<div class="mh-200">
										<table id = "history">
											<tr>
												<th>Bidder</th>
												<th>BidAmount</th>
												<th>Bid Time</th>
											</tr>
										<% for (var i = package.bids.length-1; i >= 0; i--){ %>
											<tr>
												<td><%= package.bids[i].name %></td>
												<td><%= package.bids[i].bidAmount %></td>
												<td><%= package.bids[i].bidTime %></td>
											</tr>
										<% } %>
										</table>
									</div>
								<% }else{ %>

									<div class="mh-200">
										<table id = "history">
											<tr>
												<th>Bidder</th>
												<th>BidAmount</th>
												<th>Bid Time</th>
											</tr>
										<% for (var i = package.bids.length-1; i >= 0 ; i--){ %>
											<tr>
												<td><%= package.bids[i].name %></td>
												<td>$<%= package.bids[i].bidAmount %></td>
												<td><%= package.bids[i].bidTime %></td>
											</tr>
										<% } %>
										</table>
									</div>
								<% } %>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	



</body>