<!DOCTYPE html>
<html>

<head>
    <title>
        Packages
    </title>
    <script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type='text/javascript'>
			var socket = io.connect('http://localhost:8000/');

			$(document).ready(function(){
        socket.on("serverTalksBack", function(data){
          $('.currentBid'+data.packId).text(data.bid + " (by: " + data.userName + ")")
          console.log(data.bid);
        })

        $("#keyword").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".package").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

      $("select[name='category']").change( function() {
          var value = $(this).val().toLowerCase();
          $(".package").filter(function(){
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          })
      });
      $("#noBids").click(function() {
        $(".bids").toggle();
        $(this).text($(this).text() == 'Show All' ? 'No Bids Yet' : 'Show All')
      });
    })

		</script>
</head>

<body>

  <%if(admin){%>
  <%- include('admin_header') -%>
  <%}else{%>
    <%- include('header') -%>
  <%}%>
  <h2>Packages/Bids</h2>
  <input type='search' id='keyword' placeholder="Keyword Search">
  <select name='category' id='category'>
    <option value="">All Categories</option>
    <% for(var c in categories) {%>
      <option value="<%=categories[c]%>"><%=categories[c]%></option>
    <%}%>
  </select>
  <button type="button" id="noBids" name="button">No bids yet</button>

<h2>Featured Packages</h2>
<% for (var f in featured){%>
  <%if(featured[f].bids.length>0){%>
<div class="package bids">
  <%}else{%>
    <div class="package empty">
  <%}%>
  <img src="/no-image.png" style="max-width:100%" alt="img">
  <br>
  <a href="/api/packages/<%=featured[f]._id%>"><%=featured[f].name%></a>
  <p><b>Category:</b> <%=featured[f]._category%></p>
  <p><b>STARTING BID:</b> <%=featured[f].amount%></p>
  <%if(featured[f].bids[featured[f].bids.length-1]){%>
  <p ><b>Current Bid:</b><span class='currentBid<%=featured[f]._id%>'> <%=featured[f].bids[featured[f].bids.length-1].bidAmount%> (By: <%= featured[f].bids[featured[f].bids.length-1].name%>)</span></p>
  <%}else{%>
    <p><b>Current Bid:</b> None (By: Nobody)</p>
  <%}%>
  <%if(userName){%>
    <% var flag = false %>
    <% for(var i = 0; i < user._packages.length; i++){ %>
      <% if(featured[f]._id == user._packages[i]) {%>
        <!--do this in ajax call instead-->
        <a href="/users/uninterested/<%= featured[f]._id %>"><button type="button" name="interested">Remove from Watchlist</button></a>
        <% flag = true %>
        <% break %>
        <% } %>
      <%}%>

      <% if(flag === false) {%>
        <!--do this in ajax call instead-->
        <a href="/users/interested/<%= featured[f]._id %>"><button type="button" name="interested">Add to Watchlist</button></a>
      <%}%>
  <%}%>
  <% if (admin){ %>
   <a href='/packages/edit/<%=featured[f]._id%>'><button>Edit</button></a>
   <a href='/api/remove_package/<%=featured[f]._id %>'><button>Delete</button></a>
   <%if(featured[f].featured === true){%>
     <a href="/packages/featured/<%=featured[f]._id%>"><button>Unfeature</button></a>
   <%}else{%>
   <a href="/packages/featured/<%=featured[f]._id%>"><button>Feature</button></a>
  <%}%>
  <%}%>
</div>
<% }%>
<h2>All packages</h2>
<% for (var n in packages){%>
  <%if(packages[n].bids.length>0){%>
<div class="package bids">
  <%}else{%>
    <div class="package empty">
  <%}%>
  <img src="/no-image.png" style="max-width:100%" alt="img">
  <br>
  <a href="/api/packages/<%=packages[n]._id%>"><%=packages[n].name%></a>
  <p><b>Category:</b> <%=packages[n]._category%></p>
  <p><b>STARTING BID:</b> <%=packages[n].amount%></p>
  <%if(packages[n].bids[packages[n].bids.length-1]){%>
  <p ><b>Current Bid:</b> <span class='currentBid<%=packages[n]._id%>'><%=packages[n].bids[packages[n].bids.length-1].bidAmount%> (By: <%= packages[n].bids[packages[n].bids.length-1].name%>)</span></p>
  <%}else{%>
    <p><b>Current Bid:</b> None (By: Nobody)</p>
  <%}%>
  <%if(userName){%>
    <% var flag = false %>
    <% for(var i = 0; i < user._packages.length; i++){ %>
    <% if(packages[n]._id == user._packages[i]) {%>

      <a href="/users/uninterested/<%= packages[n]._id %>"><button type="button" name="interested">Remove from Watchlist</button></a>
      <% flag = true %>
      <% break %>
      <% } %>
      <%}%>
      <% if(flag === false) {%>
      <a href="/users/interested/<%= packages[n]._id %>"><button type="button" name="interested">Add to Watchlist</button></a>
      <%}%>
  <%}%>
  <% if (admin){ %>
   <a href='/packages/<%=packages[n]._id%>'><button>Edit</button></a>
   <a href='/api/remove_package/<%=packages[n]._id %>'><button>Delete</button></a>
   <%if(packages[n].featured === true){%>
     <a href="/packages/featured/<%=packages[n]._id%>"><button>Unfeature</button></a>
   <%}else{%>
   <a href="/packages/featured/<%=packages[n]._id%>"><button>Feature</button></a>
  <%}%>
  <%}%>
</div>
<% }%>
</body>
</html>
