<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Package</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">    
    <link rel="stylesheet" type="text/css" href="/css/editPackage.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
    

  </head>
  <body>
   
    <%if(admin){%>
    <%- include('adminHeader') -%>
    <%}else{%>
      <%- include('header') -%>
    <%}%>
    <div class="container mt-4">
      <h2>Edit Package</h2>
      <!-- <form id='packageForm' action="/<%=auction%>/packages/<%=package._id%>" method="post"> -->
      <form id='packageForm' action="/<%=auction%>/packages/<%=package._id%>" method="POST" enctype="multipart/form-data">

        <!-- Row 1 -->
        <div class="form-row mt-3">
          <div class="form-group col-md-4">
            <label class="label-name">Package Name</label>
            <input type="text" id='packageName' class="form-control" name="name" value="<%=package.name%>">
          </div>
          <div class="form-group col-md-4">
            <label class="label-name">Category</label>
            <select class="form-control" id='category' name="category" >
              <option value="<%=package._category%>" ><%=package._category%></option>
              <% for (var c in categories){%>
                <%if(package._category != categories[c]){%>
                <!-- add radio and jquery to make only one catagory option apear
              or Make a seperate page to creat catagories -->
      
                <option value="<%=categories[c].name%>"><%=categories[c].name%></option>
                <%}%>
              <%}%>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label class="label-name">Total Value ($)</label>
            <!-- <input readonly id="totalValue" class="form-control" type="number" name="totalValue" value="<%="$" + total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>"> -->
            <!-- <input readonly id="totalValue" class="form-control" type="number" name="totalValue" value="<%= total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>"> -->
            <!-- <input readonly id="totalValue" class="form-control" type="text" name="totalValue" value="<%="$" + total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>"> -->
            <input readonly id="totalValue" class="form-control" type="number" name="totalValue" value="<%= total %>">
          </div>
        </div>

        <!-- Row 2 -->
        <div class="form-row">
          <div class="form-group col-md-6">
              <label class="label-name">Starting Bid ($)</label>
              <!-- <input type="number" id='openingBid' class="form-control" name="openingBid" value="<%="$" + package.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>"> -->
              <!-- <input type="text" id='openingBid' class="form-control" name="openingBid" value="<%="$" + package.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>"> -->
              <input type="number" id='openingBid' class="form-control" name="openingBid" value="<%=package.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%>">
              <!-- <input type="number" id='openingBid' class="form-control" name="openingBid" value="<%= package.amount %>"> -->
          </div>
          <div class="form-group col-md-6">
              <label class="label-name">Bid Increment ($)</label>
              <!-- <input type="number" id='increments' class="form-control" name="increments" value="<%="$" + package.bidIncrement.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>"> -->
              <input type="number" id='increments' class="form-control" name="increments" value="<%= package.bidIncrement.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>">
              <!-- <input type="number" id='increments' class="form-control" name="increments" value="<%= package.bidIncrement %>"> -->
          </div>
        </div>

        <!-- Row 3 -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="label-name">Package Description</label>
            <textarea id='packageDescription' class="form-control" name="packageDescription" rows="6" cols="40"><%=package.description%></textarea>
          </div>
          <div class="form-group col-md-6">
              <label for="packageRestrictions" class="label-name">Package Restrictions</label>
              <textarea id='packageRestrictions' class="form-control" name="packageRestrictions" rows="6" cols="40"><%=package.restrictions%></textarea>
          </div>
        </div>

		<div class="form-row">
          <div class="form-group col-md-12">
        
        <label class="label-name">Item List</label>
          <fieldset class="item-list">
              <%for (var j = 0; j < package._items.length; j++){%>
                <input type="checkbox" name="selectedItems" id="<%=package._items[j]._id%>" required value="<%=package._items[j]._id%>" onChange='totalAdd(<%=package._items[j].value%>, <%=package._items[j]._id%>)' checked = "true">&nbsp
                <strong>Name: <%=package._items[j].name%></strong>
                <div style="padding-left: 17px">
                  Description: <%=package._items[j].description%>
                  <br>
                  Restrictions: <%=package._items[j].restrictions%>
                </div>
                <%}%>
          </fieldset>
		</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label class="label-name">Package Image</label>
				<fieldset class="item-list">
					<div class="col-1 form-group">
						<img class="thumbnail ml-3" src="/<%= package.photo%>" alt="">
					</div>
					<div class="form-group">
						<label class="label-name">Current filename: <%= package.photo%></label>
					</div>
					<div class="col-11 form-group">
						<input type="file" name="packageImage" id="packageImage" class="form-control">
					</div>
				</fieldset>
			</div>
		</div>
        
        <button class="btn btn-submit mt-4 mb-5" type="submit">Submit Changes</button>
      </form>
  </div>
      
    <!-- need a read only feild with the current number selected -->
    <script type="text/javascript">
    var total = <%= total%>;
    var checkedItems = {};

      totalAdd = function(value, id){

      var checkbox = document.getElementById(id);

      if (checkbox.checked === true){
        total += value
        console.log("total is", total);
        checkedItems[id]= id;
        console.log(checkedItems);
      }
      else if (checkbox.checked === false) {
        total -= value
        delete checkedItems[id]
        console.log(checkedItems)
      }
      document.getElementById('totalValue').value = total
    }
    </script>

    <script>
      var validator = $("#packageForm").validate({
      rules: {

        packageName: {
          required: true,
          minlength: 4
        },
        category: {
          required: true
        },
        openingBid:{
          required: true,
          number: true
        },
        packageDescription: {
          required: true,
          minlength: 4
        },
        increments: {
          required: true,
          step: 5
        },
        priority: {
          required: true,
          number: true,
          min: 0
        }
      }
    });
    validator.form();
    </script>
  </body>
</html>
