<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Package</title>
    <link rel="stylesheet" type="text/css" href="/css/editPackage.css" >
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
    <!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>
    <script>
      function test(){
        alert('hello')
      }
    </script>
    <%if(admin){%>
    <%- include('adminHeader') -%>
    <%}else{%>
      <%- include('header') -%>
    <%}%>
    <div class="container mt-4">
      <h3 class="edit-package">Edit Package</h3>
      <form id='packageForm' action="/<%=auction%>/packages/<%=package._id%>" method="post">
        <!-- Row 1 -->
        <div class="form-row mt-3">
          <div class="form-group col-md-4">
            <label class="label-name">Package Name</label>
            <input type="text" id='packageName' class="form-control" name="packageName" value="<%=package.name%>">
          </div>
          <div class="form-group col-md-4">
            <label class="label-name">Category</label>
            <select class="form-control" id='category' name="category" >
              <option value="<%=package._category%>" ><%=package._category%></option>
              <% for (var c in categories){%>
                <%if(package._category != categories[c]){%>
                <!-- add radio and jquery to make only one catagory option apear
              or Make a seperate page to creat catagories -->
      
                <option value="<%=categories[c].name%>"><%=categories[c].name%></option>
                <%}%>
              <%}%>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label class="label-name">Fair Market Value</label>
            <input readonly id="totalValue" class="form-control" type="number" name="totalValue" value="<%=total%>">
          </div>
        </div>
        <!-- Row 2 -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="label-name">Package Description</label>
            <textarea id='packageDescription' class="form-control" name="packageDescription" rows="6" cols="40" value='<%=package.description%>'><%=package.description%></textarea>
          </div>
          <div class="form-group col-md-6">
              <label for="packageRestriction" class="label-name">Package Restriction</label>
              <textarea id='packageRestriction' class="form-control" name="packageRestriction" rows="6" cols="40" value='<%=package.restrictions%>'><%=package.restrictions%></textarea>
          </div>
        </div>
        <!-- Row 3 -->
        <div class="form-row mt-4">
          <div class="form-group col-md-3">
            <label for="featured">Featured</label>
            <select name='featured' id="featured" class="form-control">
              <option value='false'>No</option>
              <option value='true'>Yes</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label class="label-name">Package Priority</label>
            <input type="number" id='priority' class="form-control" name="priority" value="<%=package.priority%>">
          </div>
          <div class="form-group col-md-3">
              <label class="label-name">Starting Bid</label>
              <input type="number" id='openingBid' class="form-control" name="openingBid" value="<%=package.amount%>">
          </div>
          <div class="form-group col-md-3">
              <label class="label-name">Bid Increment</label>
              <input type="number" id='increments' class="form-control" name="increments" value="<%=package.bidIncrement%>">
          </div>
        </div>
        <label>Item List</label>
        <div style="padding-left: 20px">
            <%for (var j = 0; j < package._items.length; j++){%>
              <input type="checkbox" name="selectedItems" id="<%=package._items[j]._id%>" required value="<%=package._items[j]._id%>" onChange='totalAdd(<%=package._items[j].value%>, <%=package._items[j]._id%>)' checked = "true">
              Name: <%=package._items[j].name%>
              <div style="padding-left: 17px">
                Description: <%=package._items[j].description%>
                <br>
                Restrictions: <%=package._items[j].restrictions%>
              </div>
              <%}%>
            <%for (var i in items){%>
              <%=items[i].name%>
              <input type="checkbox" name="selectedItems" id="<%=items[i]._id%>" required value="<%=items[i]._id%>" onChange='totalAdd(<%=items[i].value%>, <%=items[i]._id%>)'>
              <br>
              <%}%>
        </div>
        <button class="btn btn-primary" type="submit">Submit Changes</button>
      </form>
  </div>
      
    <!-- need a read only feild with the current number selected -->
    <script type="text/javascript">
    var total = <%= total%>;
    var checkedItems = {};

      totalAdd = function(value, id){

      var checkbox = document.getElementById(id);

      if (checkbox.checked === true){
        total += value
        console.log("total is", total);
        checkedItems[id]= id;
        console.log(checkedItems);
      }
      else if (checkbox.checked === false) {
        total -= value
        delete checkedItems[id]
        console.log(checkedItems)
      }
      document.getElementById('totalValue').value = total
    }
    </script>

    <script>
      var validator = $("#packageForm").validate({
      rules: {

        packageName: {
          required: true,
          minlength: 4
        },
        category: {
          required: true
        },
        openingBid:{
          required: true,
          number: true
        },
        packageDescription: {
          required: true,
          minlength: 4
        },
        increments: {
          required: true,
          step: 5
        },
        priority: {
          required: true,
          number: true,
          min: 0
        }
      }
    });
    validator.form();
    </script>
  </body>
</html>
