<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Package Show</title>
  </head>
	<body>
		<div>
			<h3><%= package.name %> </h3>
			<p>Package Description: <%= package.description %></p>
			<p>Package Value: <%= package.value %></p>
			<p>Starting Bid: <%= package.amount %></p>
		</div>

		<div>
			
			<% if (package.bids.length == 0) {%>
				<h3>Current Bid: None by: nobody</h3>
			<%} else {%>
				<h3>Current Bid: <%= package.bids[package.bids.length -1] %> </h3>
			<%}%>
			
			<h3>Next Bid:</h3>
			
		</div>
		<div>
			<h5>Items In Package</h5>
			<!-- <p>This is name: <%= package._items[0].name %> </p> -->
			<% for (var i = 0; i < package._items.length; i++) {%>
				<p>Item Name: <%= package._items[i].name %> donated by: <%= package._items[i].donor %></p> 
			<%}%>
		</div>

		<!-- add link for back to all packages -->
	</body>