<!DOCTYPE html>
<html>

<head>
    <title>
        Packages
    </title>
    <script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type='text/javascript'>
			var socket = io.connect('http://localhost:8000');

			$(document).ready(function(){
					socket.on("serverTalksBack", function(data){
						$('#currentBid').text("Current Bid: " + data.bid)
					})
				})
		</script>
</head>

<body>
  <%if(admin){%>
  <%- include('admin_header') -%>
  <%}else{%>
    <%- include('header') -%>
  <%}%>
  <h2>Packages/Bids</h2>
<% for (var p in packages){%>
<div class="package">
  <img src="/no-image.png" alt="img">
  <br>
  <a href="/api/packages/<%=packages[p]._id%>"><%=packages[p].name%></a>
  <p><b>Category:</b> <%=packages[p]._category%></p>
  <p><b>STARTING BID:</b> <%=packages[p].amount%></p>
  <%if(packages[p].bids[packages[p].bids.length-1]){%>
  <p id='currentBid'><b>Current Bid:</b> <%=packages[p].bids[packages[p].bids.length-1].bidAmount%> (By: <%= packages[p].bids[packages[p].bids.length-1].name%>)</p>
  <%}else{%>
    <p><b>Current Bid:</b> None (By: Nobody)</p>
  <%}%>
  <% if (admin){ %>
   <a href='/packages/<%=packages[p]._id%>'><button>Edit</button></a>
   <a href='/api/remove_package/<%=packages[p]._id %>'><button>Delete</button></a>
  <%}%>
</div>
<% }%>
</body>

</html>
