<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<title>Package Show</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
		<script>
				var socket = io.connect('http://localhost:8000')
				$(document).ready(function (){
					socket.emit('helloWorld', {message: "hello"})
				})
		</script>
  </head>
	<body>
		<div>
			<h3><%= package.name %> </h3>
			<p>Package Description: <%= package.description %></p>
			<p>Package Value: <%= package.value %></p>
			<p>Starting Bid: <%= package.amount %></p>
		</div>

		<div>
			
			<% if (package.bids.length == 0) {%>
				<h3>Current Bid: None by: nobody</h3>
			<%} else {%>
				<h3>Current Bid: <%= package.bids[package.bids.length -1] %> </h3>
			<%}%>
			
			<h3>Next Bid:</h3>
			<form method='POST'>
				<% if (package.bids == false) {%>
					<input id='bid_amount' readonly value='<%= package.amount%>'>
				<%} else {%>
					<input id='bid_amount' readonly value='<%= package.bids[package.bids.length -1] + package.bid_increment %> '>
				<%}%>
			<input type='submit' value'Place Bid'>
			</form>
		</div>
		<div>
			<h5>Items In Package</h5>
			<!-- <p>This is name: <%= package._items[0].name %> </p> -->
			<% for (var i = 0; i < package._items.length; i++) {%>
				<p>Item Name: <%= package._items[i].name %> donated by: <%= package._items[i].donor %></p> 
			<%}%>
		</div>

		<!-- add link for back to all packages -->
	</body>