<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Package Show</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/packageShow.css">

<script type='text/javascript'>

	var socket = io.connect('http://localhost:8000/');
	// var socket = io.connect('http://dv1.elizabid.com/');

	$(document).ready(function () {
		// no bids and no value entered in bid form field
		$('#submitButton').submit(function (event) {
			let sendBid;
			let bidAmt = parseInt($("#bidAmount").val());
			let packageAmt = <%= package.amount %>;
			let newBid = parseInt(<%= lastBid + package.bidIncrement %>);
			let hiddenBidAmt = parseInt($("#hiddenBidAmt").val());
			let hasBids = <%= ourBids %>;
			let userName = "<%= user.firstName + ' ' + user.lastName %>";
			event.preventDefault();

			//No input and no bids, "Place Bid" will place bid of current bid plus increment
			if ( !bidAmt && hasBids === false ) {
				sendBid = packageAmt;
			//No input and has bids, "Place Bid" will place bid of current bid plus increment
			} else if ( !bidAmt && hasBids === true ) {
				//No hidden big amount use newBid from Controller else use the hidden bid amount from Server
				if (!hiddenBidAmt) {
					sendBid = newBid;
				} else {
					sendBid = hiddenBidAmt;
				}
			// no bids but with value entered in bid form field
			} else if ( bidAmt >= packageAmt && hasBids === false ) {
				sendBid = bidAmt;
			// has bids and has value entered in bid form field
			} else if ( bidAmt >= newBid && hasBids === true ) {
				sendBid = bidAmt;
			}

			socket.emit('msgSent', { packId: '<%= package._id %>', bid: sendBid , userName: userName, name: '<%= package.name %>'})
		});
		// Updates packageShow page with bid price
		socket.on("serverTalksBack", function (data) {
			console.log("200 packageShow.ejs socket.on serverTalksBack.  data = ",data);
			//check on this
			console.log(data.bid);
			let currentBid = (data.bid).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			let topBidder = data.userName;
			let newBid = parseInt(data.bid) + <%= package.bidIncrement %>;

			if ( data.packId == <%= package._id %> ) {

				$('#currentBid').text("Current Bid: $" + currentBid);
				$('#topBidder').text("Top Bidder: " + topBidder);
				$('#minBid').text("Bid US $"+ newBid.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+" or more");
				$('#bidAmount').attr('min',newBid);
				$('#bidAmount').val(newBid);
				$('#hiddenBidAmt').val(newBid);
				// console.log("210 packageShow.ejs socket.on serverTalksBack.  $('#hiddenBidAmt').val() = ",$('#hiddenBidAmt').val());
			}
		});

		//Updates submit button only after bidding has been saved in database 
		socket.on('buttonStateChannel', function (data) {
			if ( data.packId == <%= package._id %> ) {
				if( data.button == 'disabled' ){
					$('#submitButton2').attr('disabled','disabled')
				} else {
					$("#submitButton2").removeAttr('disabled');
				}
				event.preventDefault();
			}
		});
	})

	</script>
</head>

<body>

	<%if(admin){%>
		<%- include('adminHeader') -%>
	<%}else{%>
		<%- include('header') -%>
	<%}%>
	<!-- <%if(admin == 0){%>
	<%- include('footerClock') -%>
	<%}%> -->

	<div class="card">
		<div>
			<h3 class="card-header"><%= package.name %> </h3>
			<div>
				<img class="w-50 h-50" src="/<%= package.photo %>">
			</div>

			<div class="card-body">

				<p>Package Value: US $<%= package.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
				<p>Bid Increment: $<%= package.bidIncrement.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>

				<% if(package.bids.length === 0){ %>
					<p>Top Bidder: </p>
				<% }else{ %>
					<p id = 'topBidder'>Top Bidder: <%= package.bids[package.bids.length - 1].name %></p>
				<% } %>

				<% if (package.bids.length === 0){ %>
					<p> Starting Bid: <%= "$" + package.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
				<% }else{ %>
					<p id='currentBid'>Current Bid: $<%= lastBid.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
				<% } %>

				<!-- Placing Bids -->
				<% if (!admin){ %>
					<form class="mt-2" id='submitButton' class="w-50">
						<% if (package.bids.length === 0){ %>
							<input type="number" id='bidAmount' type="number" min='<%= package.amount %>' value=''>
						<% }else{ %>
							<input type="number" id='bidAmount' type="number" min='<%= lastBid + package.bidIncrement %>' value=''>
						<% } %>
							<input id='hiddenBidAmt' type="hidden" value=''>
							<input class="ml-2 btn" type='submit' value='Place Bid' id='submitButton2'>
					</form>
				<% } %>

				<% if (package.bids.length === 0){ %>
					<p>Bid US $<%= package.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> or more</p>
				<% }else{ %>
					<p id ='minBid'>Bid US $<%= (package.bidIncrement + lastBid).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> or more </p>
				<% } %>

				<!-- Buttons -->
				<p class="text-success" id="addSuccess"></p>
				<p class="text-success" id="removeSuccess"></p>

				<% if (user._packages.length > 0) { %>
					<form id="removeWatchList" action="/<%= auction %>/users/uninterested/<%= package._id %>" method='GET'>
						<input class="btn" type='button' value='Remove from Watch List'>
					</form>
				<% } else { %>
					<form id="addWatchList" action="/<%= auction %>/users/interested/<%= package._id %>" method='GET'>
						<input class="btn" type='button' value='Add to Watch List'>
					</form>
				<% } %>

				<a href="/<%= auction %>/packages"><button type="button" class="mt-2 btn" name="interested">Back</button></a>
				<a href="/<%= auction %>/packages/<%= prevPos %>"><button type="button" class="mt-2 ml-2 btn" name="interested">Previous</button></a>
				<a href="/<%= auction %>/packages/<%= nextPos %>"><button type="button" class="mt-2 ml-2 btn" name="interested">Next</button></a>

				<p class = "mt-2">Description: <%= package.description %> </p>
				<p>Restriction(s): <%= package.restrictions %> </p>

				<!-- Button trigger modal -->
				<button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong">Bid History</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Bid History</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<% if( package.bids.length === 0){ %>
									<p>No one has bid on this package yet.</p>
								<% }else{ %>
									<p class = "bidHistory"><%= package.bids[package.bids.length-1].name %> placed a bid of <%= lastBid %> on </p>
								<% } %>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$('#addWatchList').submit(function (event) {
			event.preventDefault();
			event.stopPropagation();
			$.get("/<%= auction %>/users/interested/<%= package._id %>", function (data, status) {
				$("#addWatchList").replaceWith("<form id='removeWatchList' action='/<%= auction %>/users/uninterested/<%= package._id %>' method='GET'><input class='btn' type='submit' value='Remove from Watch List'></form>");
					// event.preventDefault();
			});
		})

		$('#removeWatchList').submit(function (event) {
			event.preventDefault();
			event.stopPropagation();
			$.get("/<%= auction %>/users/uninterested/<%= package._id %>", function (data, status) {
				$("#removeWatchList").replaceWith("<form id='addWatchList' action='/<%= auction %>/users/interested/<%= package._id %>' method='GET'><input class='btn' type='submit' value='Add to Watch List'></form>");
					// event.preventDefault();
			});	
		})

	</script>
</body>