<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Package Show</title>
  <link rel="stylesheet" type="text/css" href="/css/packageShow.css">
  <script src="/socket.io/socket.io.js"></script>

  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script type='text/javascript'>
    var socket = io.connect('http://localhost:8000/');
    // var socket = io.connect('http://dv1.elizabid.com/');

    var customPlaceholder = <%=lastBid %>;

    $(document).ready(function () {

      $('#submitButton').submit(function (event) {
        if ($("#bidAmount").val() >= <%= package.amount %> && <%= ourBids %> === false ){
        console.log("Placing Bid");
        console.log($('#bidAmount').val());
        socket.emit('msgSent', { packId: '<%= package._id %>', bid: $('#bidAmount').val(), userName: '<%= user.firstName.charAt(0) %>. <%= user.lastName %>', name: '<%= package.name %>' })
        event.preventDefault();

      } else if ($("#bidAmount").val() >= <%= lastBid + package.bidIncrement %> && <%= ourBids %> === true ){
      console.log("Placing Bid");
      console.log($('#bidAmount').val());
      socket.emit('msgSent', { packId: '<%= package._id %>', bid: $('#bidAmount').val(), userName: '<%= user.firstName.charAt(0) %>. <%= user.lastName %>', name: '<%= package.name %>' })
      event.preventDefault();
    }
      
    });

    socket.on("serverTalksBack", function (data) {

      console.log(data.bid);

      if (data.packId === <%= package._id %>) {

      $('#currentBid').text("Current Bid: $" + data.bid.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " by: " + data.userName)

      $('#bidAmount').replaceWith("<input id='bidAmount' readonly value='" + String(parseInt(data.bid) + <%= parseInt(package.bidIncrement) %>) + " ' >")
      customPlaceholder = data.bid;
    }
    })

    socket.on('buttonStateChannel', function (data) {
      if (data.packId == <%= package._id %>) {
      console.log(data.button);
      $('#submitButton').attr('disabled', data.button)
    }
        })
			}
    )

  </script>
</head>

<body>
  <% if(admin){ %>
  <%- include('adminHeader') -%>
  <% }else{ %>
  <%- include('header') -%>
  <% } %>

  <div class="card">
    <div>
      <h3 class="card-header"><%= package.name %> </h3>
      <div>

        <img class="w-50 h-50" src="/<%= package.photo %>">
      </div>

      <div class="card-body">

        <!-- nextPos -->
        <!-- <p><%= nextPos %></p> -->
        <!-- prevPos -->
        <!-- <%= prevPos %> -->

        <!-- package object data !-->
        <!-- <p>One Package Object Here:<%= package %></p> -->
        <!-- <p>One Package ID Object Here:<%= package._id %></p> -->
        <!-- <p>Package Amount: <%= package.amount %></p> -->

        <!-- <p>Admin: <%= admin %></p>
        
        <p>Username: <%= userName %></p>

        <p>Username: <%= user %></p>

        <p>userName: <%= user.firstName.charAt(0) %> <%= user.lastName %></p>

        <p><% userName %></p> -->
        <!-- <p><%= package %></p> -->
<!-- 
        <p>Package Bid: <%= package.bids.name %></p> -->


        <!-- <p>ourBids <%= ourBids %></p> -->
        <!-- <p>Package ID: <%= package._id %></p> -->


        <!-- <p>Bid Increment: <%= package.bidIncrement %></p> -->
        <!-- 
        <p>Last Bid + Bid Increment <%= lastBid + package.bidIncrement %> </p> -->


        <!-- user email -->
        <!-- <p><%= userName %></p> -->

        <!-- role code -->
        <!-- <p><%= admin %></p> -->

        <!-- user code -->
        <!-- <p>User Object Here:<%= user %></p> -->

        <!-- True/False flag-->
        <!-- <p><%= ourBids %></p> -->

        <!-- last bid-->
        <!-- <p><%= lastBid %></p> -->

        <!-- auction id-->
        <!-- <p><%= auction %></p> -->

        <!-- auctionDetails-->
        <!-- <p><%= auctionDetails %></p>  -->

        <!-- <p class="mt-3">Date Created:
          <%= (package.createdAt.getMonth()+1) + "/" + package.createdAt.getDate() + "/" + package.createdAt.getFullYear() %>
        </p> -->

        <p>Package Value: US $<%= package.amount %></p>

        <p>Start Clock: <%= auctionDetails.startClock %></p>
        <p>End Clock: <%= auctionDetails.endClock %></p>

        <p><%= Math.abs(auctionDetails.endClock - auctionDetails.startClock) %></p>
        <!-- <p>Hours: <%= auctionDetails.endClock %> - <%= auctionDetails.startClock %></p>
        <p>Minutes: <%= auctionDetails.endClock %> - <%= auctionDetails.startClock %></p>
        <p>Time Left: <%= auctionDetails.endClock %> - <%= auctionDetails.startClock %></p> -->

        <% if(package.bids.length === 0){ %>
          <p>Top Bidder: </p>
        <% }else{ %>
          <p>Top Bidder: <%= package.bids[package.bids.length - 1].name %></p>
        <% } %>

        <% if (package.bids.length === 0){ %>
        <p> Starting Bid: <%= "$" + package.amount.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
        <% }else{ %>

        <p id='currentBid'>
          Current Bid: $<%= lastBid.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
        <% } %>


        <!-- <p> Next Bid:</p> -->

        <!-- Placing Bids -->
        <form class="mt-2" id='submitButton' class="w-50" action='/<%= auction %>/packages/<%= package._id %>'>
          <!-- <input id='bidAmount' readonly
            value='<%= "$" + package.amount.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>'> -->
          <% if (package.bids.length === 0){ %>
          <input input id='bidAmount' type="number" name="quantity" step=".01" min='<%= package.amount.toFixed(2) %>'>
          <% }else{ %>
          <input input id='bidAmount' type="number" name="quantity" step=".01"
            min='<%= lastBid + package.bidIncrement %>'>
          <% } %>
          <input class="ml-2 btn" type='submit' value='Place Bid'>

        </form>

        <!-- <form id="addWatchList" action="/<%= auction %>/users/interested/<%= package._id %>" method='GET'>
          <input class="btn" type='submit' value='Add to Watch List'>
        </form> -->


        <!-- 
        <form id="placeBid" action="/<%= auction %>/packages/placebid/<%= package._id %>" method='POST'>

          <input type="text"><br>
          <input class="btn" type='submit' value='Place Bid'>

        </form> -->

        <% if (package.bids.length === 0){ %>
        <p>Bid US $<%= package.bidIncrement.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> or more</p>
        <% }else{ %>
        <p>Bid US $<%= (package.bidIncrement + lastBid).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
          or more </p>
        <% } %>

        <!-- <% var flag = false %> -->

        <!-- clerk logic -->

        <!-- <% if(userName !== "Clerk"){ %>

    <button class="btn" type="button" name="Custom" id="custom">
        Bid</button>

      <% for (i in user._packages){ %>

        <% if (package._id == user._packages[i]){ %>

          <a href="/<%= auction %>/users/uninterested/<%= package._id %>">
            <button class="btn" type="button"
            name="interested">Remove from Watchlist</button>
          </a>

          <% if (flag == false){ %>
            <a href="/<%= auction %>/users/interested/<%= package._id %>"><button type="button" class="btn"
                name="interested">Add to Watchlist</button></a>
                <% } %>

        <% } %>
   
      <% } %>

    <% } %> -->

        <!-- admin logic -->

        <!-- <% if (admin === true){ %>

      <form action="/<%= auction %>/packages/cancelbid/<%= package._id %>" method='POST'>
        <input type='text' value='' placeholder='username of bidder' name='user'>
        <input class='btn' id='cancelBid' type='submit' value='Delete Bid'>
      </form>

      <a href='/<%= auction %>/packages/edit/<%= package._id %>'>
        <button>Edit</button></a>

      <% } %> -->

        <!-- Buttons -->

        <!-- <p class="text-success" id="addSuccess"></p> -->

        <!-- <p class="text-success" id="addSuccess">Added to Watch List!</p>

        <p class="text-success" id="removeSuccess"></p> -->

        <% if (user._packages.length > 0) { %>
        <form id="removeWatchList" action="/<%= auction %>/users/uninterested/<%= package._id %>" method='GET'>
          <input class="btn" type='submit' value='Remove from Watch List'>
        </form>
        <% } else { %>
        <form id="addWatchList" action="/<%= auction %>/users/interested/<%= package._id %>" method='GET'>
          <input class="btn" type='submit' value='Add to Watch List'>
        </form>
        <% } %>

        <a href="/<%= auction %>/packages"><button type="button" class="mt-2 btn" name="interested">
            Back</button></a>
        <a href="/<%= auction %>/packages/<%= prevPos %>"><button type="button" class="mt-2 ml-2 btn"
            name="interested">Previous</button></a>
        <a href="/<%= auction %>/packages/<%= nextPos %>"><button type="button" class="mt-2 ml-2 btn"
            name="interested">Next</button></a>

        <p class = "mt-2">Description: <%= package.description %> </p>
        <p>Restriction(s): <%= package.restrictions %> </p>

        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong">
          Bid History
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bid History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <% if( package.bids.length === 0){ %>
                  <p>No one has bid on this package yet.</p>
                <% }else{ %>
                  <p><%= package.bids[package.bids.length-1].name %> placed a bid of <%= lastBid %> on </p>
                <% } %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    // $('#custom').click(function () {
    //   if ($('#bidAmount').attr('readonly') === 'readonly') {
    //     if (<%= ourBids %> === true) {
    //   $('#bidAmount').attr({
    //     'readonly': false,
    //     'placeholder': "$" + (customPlaceholder + <%=package.bidIncrement %>).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' or higher'
    // });
    // $('#bidAmount').val(null);
    //     }else {
    //   $('#bidAmount').attr({
    //     'readonly': false,
    //     'placeholder': "$" + customPlaceholder.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' or higher'
    //   });
    //   $('#bidAmount').val(null);
    // }
    //   }else {
    // if (<%= ourBids %>=== true) {
    //   $('#bidAmount').attr({
    //     'readonly': 'readonly',
    //     'placeholder': "$" + (customPlaceholder + <%=package.bidIncrement %>).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' or higher'
    // });
    //   $('#bidAmount').val("$" + (customPlaceholder + <%=package.bidIncrement %>).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
    // }else {
    //   $('#bidAmount').attr({
    //     'readonly': 'readonly',
    //     'placeholder': "$" + customPlaceholder.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' or higher'
    //   });
    //   $('#bidAmount').val("$" + customPlaceholder.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
    // }
    //   }
    // $(this).text($(this).text() == 'Preset Bid' ? 'Custom Bid' : 'Preset Bid')
    //   })

    //There is also a socket function for submitButton.click above, with the rest of the socket stuff
    // $("#submitButton").click(function () {
    //   if ( $("#bidAmount").val() < <%= package.amount %> && <%= ourBids %> === false ){
    //     alert("Please enter a bid above $" + <%= package.amount.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>)
    //     event.preventDefault()
    //   } else if ( $("#bidAmount").val() < <%= lastBid + package.bidIncrement %> && <%=ourBids %> === true ){
    //   alert("Please enter a bid above $" + <%= lastBid + package.bidIncrement %> )
    //   event.preventDefault()
    //   }
    // })

    // $('#addWatchList').click(function (event) {
    //   $.get("/<%= auction %>/users/interested/<%= package._id %>",
    //     function (data, status) {
    //       document.getElementById("addSuccess").innerHTML = "Added to Watch List!";
    //       $("#addWatchList").replaceWith("<a id = 'removeWatchList' href='/<%= auction %>/users/uninterested/<%= package._id %>'><button id='removeWatchList' class='btn' type='button' name='uninterested'>Remove from Watchlist</button></a>");
    //     });
    //   return false;
    // })

    $('#addWatchList').click(function (event) {
      $.get("/<%= auction %>/users/interested/<%= package._id %>",
        function (data, status) {
          // document.getElementById("addSuccess").fadeIn() = "Added to Watch List!";
          // $("#addWatchList").replaceWith("<form id='removeWatchList' action='/<%= auction %>/users/uninterested/<%= package._id %>' method='GET'><input class='btn' type='submit' value='Remove from Watch List'></form>");
          $("#addWatchList").replaceWith("<p class='text-success' id='addSuccess'>Added to Watch List!</p><form id='removeWatchList' action='/<%= auction %>/users/uninterested/<%= package._id %>' method='GET'><input class='btn' type='submit' value='Remove from Watch List'></form>");
          // $('#removeWatchList').fadeIn("slow");
          event.preventDefault();
          // location.reload(true);
        });
      // location.reload(true);
      event.preventDefault();
    })

    $('#removeWatchList').click(function (event) {
      $.get("/<%= auction %>/users/uninterested/<%= package._id %>",
        function (data, status) {
          //  document.getElementById("removeSuccess").innerHTML = "Removed from Watch List!";
          $("#removeWatchList").replaceWith("<p class='text-success' id='removeSuccess'>Removed from Watch List!</p><form id='addWatchList' action='/<%= auction %>/users/interested/<%= package._id %>' method='GET'><input class='btn' type='submit' value='Add to Watch List'></form>");
          // location.reload(true);
          event.preventDefault();
        });
      //   location.reload(true);
      event.preventDefault();
    })

    $('#cancelBid').click(function () {
      var cancelBidConfirm = window.confirm('Are you sure you want to cancel')
      if (cancelBidConfirm === false) {
        return false;
      }
    })
  </script>
</body>