<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=user.userName%></title>
  </head>
  <body>
    <%if(admin){%>
    <%- include('admin_header') -%>
    <%}else{%>
      <%- include('header') -%>
    <%}%>
    <h3><%=user.userName%>'s Page</h3>
    <table>
      <thead>
        <th>Package Name</th>
        <th>Who's Winning</th>
        <th>Interested</th>
      </thead>
      <tbody>
        
        <%for(let i =0; i<packages.length; i++){%>
          <tr>
          <% if(packages[i]) {%>
          <td><a href="/api/packages/<%=packages[i]._id%>"><%=packages[i].name%></a></td>
          <% if(packages[i].bids.length > 0) {%>
          <%if(packages[i].bids[packages[i].bids.length-1].name == user.userName){%>
               <td>You!!!</td>
              <%}else{%>
              <td><%=packages[i].bids[packages[i].bids.length-1].name%></td>
              <%}%>
            <%}%>
          <%}%>
          <td><a href="/users/uninterested/<%=packages[i]._id%>"><button type="button" name="uninterested">No longer Interested</button></a></td>


          </tr>
          <%}%>
        
      </tbody>
    </table>
    
    
  </body>
</html>
