<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=user.userName%></title>
  </head>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.js"></script>
  <body>
    <%if(admin){%>
    <%- include('admin_header') -%>
    <%}else{%>
      <%- include('header') -%>
    <%}%>
    <h3><%=user.userName%>'s Page</h3>
    <table>
      <thead>
        <th>Package Name</th>
        <th>Who's Winning</th>
        <th>Interested</th>
      </thead>
      <tbody id='selections'>
        <%for(let i =0; i< user._packages.length; i++){%> 
          <tr data-id= '<%=user._packages[i]._id %>' class='selection' style='cursor: move'>
          <% if(user._packages[i]) {%>
          <td><a href="/api/packages/<%=user._packages[i]._id%>"><%=user._packages[i].name%></a></td>
          <% if(user._packages[i].bids.length > 0) {%>
          <%if(user._packages[i].bids[user._packages[i].bids.length-1].name == user.userName){%>
               <td>You!!!</td>
              <%}else{%>
              <td><%=user._packages[i].bids[user._packages[i].bids.length-1].name%></td>
              <%}%>
            <%}%>
          <%}%>
          <td><a href="/users/uninterested/<%=user._packages[i]._id%>"><button type="button" name="uninterested">No longer Interested</button></a></td>
          </tr>
          <%}%>
        
      </tbody>
    </table>
    <button id='update'>Update List Order</button>
    <script>
      var user_id = '<%= user._id%>';
      var el = document.getElementById('selections')
      var sortable = Sortable.create(el)
      $('#update').click(function(){
        var result = sortable.toArray()
        console.log(result)
        $.ajax({type: 'GET',
          url:'/users/updateList/' + result + '/' + user_id
        })
      })
     

    </script>
    
  </body>
</html>
