<!DOCTYPE html>
<html>
  	<head>
		<meta charset="utf-8">
		<title><%=user.firstName%>'s Account Page</title>

		<link rel="stylesheet" href="/css/userAccount.css">
  	</head>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	  
	<body>
		<%if(admin){%>
		<%- include('adminHeader') -%>
		<%}else{%>
			<%- include('header') -%>
		<%}%>

		<div class="container regist-container">
			<%if(admin == 0){%>
				<h3 class="pt-4 mb-4"><%=user.firstName%>, Welcome to the Auction</h3>
			<%} else if (admin >= 1 && user.userName != viewer){%>
				<h3 class="pt-4 mb-4"><%=user.firstName%>'s Account</h3>
			<%} else {%>
				<h3 class="pt-4 mb-4"><%=user.firstName%>, Welcome to Your Account</h3>
			<%}%>

			<div class="row">
				<div class="col">  <!-- this column is for equal space on the margins -->
					<div class="col-sm-12 col-md-8">  <!-- the column where all our content will go; for medium and larger use size 8; for mobile (small), use the full screen (size 12); -->
						<%if(admin == 0){%>
							<div class="card regist-card mb-4" id="user-info" data=<%= userName%>>
								<div class="card-body">
									<div>
										<h5 class="mb-3">Here is what you've won:</h5>
										<div class="table-responsive">
											<table class="table">
												<tr>
													<th>Package #</th>
													<th>Description</th>
													<th>Your bid</th>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</table>
										</div>
									</div>
								</div><!-- End card-body-->
							</div>
						<%}%>

						<div class="card regist-card" id="user-info" data=<%= userName%>>
							<div class="card-body">
								<%if (admin >= 1 && user.userName != viewer){%>
									<h5>Here is their personal information:</h5>
								<%} else {%>
									<h5>Here is your personal information:</h5>
								<%}%>
								<h6 class="mb-3">*Please fill in any missing fields.</h6>
								<form id="registrationForm" action="/<%=auction%>/users/account/<%=userName%>" method="post">

									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="firstName">First Name</label>
											<input type="text" name="firstName" class="form-control" value="<%= user.firstName %>">
										</div>
										<div class="form-group col-md-6">
											<label for="lastName">Last Name</label>
											<input type="text" name="lastName" class="form-control" value="<%= user.lastName %>">
										</div>
									</div>

									<div class="form-group">
										<label for="userName">Email/Username</label>
										<input type="email" name="userName" class="form-control" id="userNameTarget" readonly value="<%= user.userName %>">
										<span id="hide1">Please note that this field cannot be edited.</span>
									</div>

									<div class="form-group">
										<label for="phoneNumber">Cell Phone Number</label>
										<input type="tel" name="phone" class="form-control" id="phoneTarget" readonly value="<%= phone %>">
										<span id="hide2">Please note that this field cannot be edited.</span>
									</div>

									<div class="form-group">
										<label for="streetAddress">Address</label>
										<input type="text" name="address" class="form-control" value="<%= user.streetAddress %>">
									</div>

									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="city">City</label>
											<input type="text" name="city" class="form-control" value="<%= user.city %>">
										</div>
										<div class="form-group col-md-3">
											<label for="states">State</label>
											<input type="text" name="states" class="form-control" value="<%= user.states %>">
										</div>
										<div class="form-group col-md-3">
											<label for="zip">Zip</label>
											<input type="text" name="zip" class="form-control" value="<%= user.zip %>">
										</div>
									</div>

																	<!-- these fields visible to admin only								 -->
									<%if(admin){%>
										<!-- <form class="reg-form" id="passChangeForm" method="post" action="/<%=auction%>/users/account/<%=userName%>"> -->
											<!-- <h6>This can be done by Admin only!</h6>
												<div class="form-row">
												<div class="form-group col-md-6">
													<input type="password" name="newPass" class="form-control" placeholder="new password" required readonly>
												</div>
												<div class="form-group col-md-6">
													<input type="password" name="confirmPass" class="form-control" placeholder="confirm new password" required readonly>
												</div> -->
												<!-- <div class="form-group col-md-6">
													<button type="submit" id="changePassBtn" class="btn btn-primary">Save</button>
												</div>
											</div> -->
										<!-- </form> -->
									<%}%>

									<div class="form-group">
										<input type="submit" name="submit" value="Update" class="btn btn-submit mt-1">
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	<!-- code for changing organizer's password. Need to be enhanced: when both new password and confirm password fields are filled - button should become clickable. Right now fields are readonly, that property should be removed later -->
		<script type="text/javascript">

			$(document).ready(function() {
				validator.resetForm();
			});

			// $('#changePassBtn').click(function(event){
			// 	event.preventDefault();

			// 	let userName = $('#user-info').attr("data");
			// 	let newPass = $('#newPass').val();
			// 	let confirmPass = $('#confirmPass').val();

			// 	if(newPass === confirmPass){
			// 		console.log('matched')
			// 		$.ajax({
			// 			type: "POST",
			// 			contentType: "application/json",
			// 			headers: {"X-HTTP-Method-Override": "PUT"},
 			// 			url: "/<%=auction%>/users/account/<%=userName%>",
			// 			data: JSON.stringify({password: newPass}),
			// 			success: function(data){
			// 				console.log('changed');
			// 			}
			// 		})
			// 	} else {
			// 		alert('values for password and confirmation should match!')
			// 	}
			// });

			// this shows a message when the phone number input field has been clicked
			$('#userNameTarget').click(function() {
				$('#hide1').css('display', 'block');
			});

			// this shows a message when the phone number input field has been clicked
			$('#phoneTarget').click(function() {
				$('#hide2').css('display', 'block');
			});

			// input mask for phone number format
			$('#phoneTarget').inputmask("999-999-9999");

			var validator = $("#registrationForm").validate({
				rules: {
					firstName: {
						required: true,
						rangelength: [2, 50]
					},
					lastName: {
						required: true,
						rangelength: [2, 50]
					},
					address: {
						required: false,
						street: true,
						rangelength: [2, 50]
					},
					city: {
						required: false,
						rangelength: [2, 50]
					},
					states: {
						required: false,
						state: true
					},
					zip: {
						required: false,
						zipcodeUS: true
					},
				}
			});

			jQuery.validator.addMethod("street", function(value, element) {
				return this.optional(element) || /^\s*\S+(?:\s+\S+){2}/.test(value);
			}, "Please specify a valid street address");

			jQuery.validator.addMethod("state", function(value, element) {
				return this.optional(element) || /^(A[AEKLPRZ]|C[AOT]|D[CE]|FL|GA|HI|I[ADLN]|K[SY]|LA|M[ADEINOST]|N[CDEHJMVY]|O[HKR]|PA|RI|S[CD]|T[NX]|UT|V[AT]|W[AIVY]|a[aeklprz]|c[aot]|d[ce]|fl|ga|hi|i[adln]|k[sy]|la|m[adeinost]|n[cdehjmvy]|o[hkr]|pa|ri|s[cd]|t[nx]|ut|v[at]|w[aivy])$/.test(value);
			}, "Please specify the two-digit code for a US state");

			validator.form();

		</script>
	</body>
</html>
